<h2 class="content-block">{{tituloVentana}}</h2>
<dx-toolbar class="myToolbar">
  <dxi-item location="before">
    <dx-button class="myButton" text="Autorizar" type="success" (onClick)="Autorizar()" [visible]="true">
    </dx-button>
  </dxi-item>
  <dxi-item location="before">
    <dx-button class="myButton" text="Denegar" type="danger" (onClick)="Denegar()" [visible]="true">
    </dx-button>
  </dxi-item>
  <dxi-item location="before" >
    <dx-button class="myButton" text="Cancelar" type="normal" (onClick)="cancelar()" [visible]="!isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="after" >
    <dx-button icon="refresh"
    [visible]="isBrowse()"
    (onClick)="consultar()">
    </dx-button>
  </dxi-item>
  <dxi-item location="after"  [locateInMenu]="'auto'">
    <dx-date-box [(value)]="param.FECHA_INICIAL"
    [visible]="isBrowse()"
    [useMaskBehavior]= "true"
    type="date"
    displayFormat="dd/MM/yyyy"
    width="100"
    ></dx-date-box>
  </dxi-item>
  <dxi-item location="after"  [locateInMenu]="'auto'">
    <dx-date-box [(value)]="param.FECHA_FINAL"
    [visible]="isBrowse()"
    [useMaskBehavior]= "true"
    type="date"
    displayFormat="dd/MM/yyyy"
    width="100"
    ></dx-date-box>
  </dxi-item>
</dx-toolbar>
<div class="content-block dx-card responsive-paddings" *ngIf="!isBrowse()">
	<dx-form #fData id="form"
	[formData]="model"
	labelLocation="top"
	[colCount]="4">
    <dxi-item dataField="CORR_SOLICITUD" [label]="{text: 'Corr.'}" [editorOptions]="{ readOnly: true }">
    </dxi-item>
    <dxi-item dataField="ESTADO_SOLICITUD" [label]="{text: 'Estado'}" [colSpan]="1" [editorOptions]="{ placeholder: 'Estado Solicitud...', showClearButton: true }" [template]="'cbEstadoSolicitud'">
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbEstadoSolicitud'">
      <dx-drop-down-box
        #estadoSolicitud
        [(value)]="model.ESTADO_SOLICITUD"
        [valueExpr]="'CODIGO'"
        [displayExpr]="'DESCRIPCION'"
        [deferRendering]="false"
        [placeholder]="'Estado...'"
        [dataSource]="mEstado"
        [showClearButton]="true"
        [readOnly]="true"
        (valueChange)="valueChangedESTADO_SOLICITUD($event)">
        <div *dxTemplate="let dEstadoExpediente of 'content'">
          <dx-data-grid
            #dataEstadoSolicitud
            [dataSource]="mEstado"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedESTADO_SOLICITUD($event.selectedRowKeys)"
            (onRowClick)="rowClickESTADO_SOLICITUD($event, dEstadoExpediente)"
            [height]="'100%'"
            [width]="'100%'">
              <dxi-column dataField="CODIGO" caption="Código." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="DESCRIPCION" caption="Estado" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
    <dxi-item dataField="CORR_MONEDA" [label]="{text: 'Moneda'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Tipo Moneda...', showClearButton: true }" [template]="'cbTipoMoneda'">
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbTipoMoneda'">
      <dx-drop-down-box
        #corrTipoMoneda
        [(value)]="model.CORR_MONEDA"
        [valueExpr]="'CORR_MONEDA'"
        [displayExpr]="'NOMBRE_MONEDA'"
        [deferRendering]="false"
        [placeholder]="'Seleccione una opción...'"
        [dataSource]="mTipoMoneda"
        [showClearButton]="true"
        [readOnly]="true"
        (onValueChanged)="valueChangedCORR_MONEDA($event)"
      >
        <div *dxTemplate="let data of 'content'">
          <dx-data-grid
            #dataTipoMoneda
            [dataSource]="mTipoMoneda"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedCORR_MONEDA($event.selectedRowKeys)"
            (onRowClick)="rowClickCORR_MONEDA($event, data)"
            [height]="'100%'"
            [width]="'100%'"
          >
            <dxi-column dataField="CORR_MONEDA" caption="Corr." [width]="'0%'" [visible]="false"></dxi-column>
            <dxi-column dataField="NOMBRE_MONEDA" caption="Moneda" [width]="'100%'"></dxi-column>
            <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
    <dxi-item dataField="FECHA_SOLICITUD" [label]="{text: 'Fecha Solicitud'}" [editorType]="'dxDateBox'" [colSpan]="1" [editorOptions]="{ placeholder: ' Fecha Solicitud...', displayFormat:'dd/MM/yyyy', readOnly: true}">
		</dxi-item>
    <dxi-item dataField="CORR_EMPLEADO" [label]="{text: 'Colaborador'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Colaborador ...', showClearButton: true }" [template]="'cbEmpleado'">
      <dxi-validation-rule type="required"  message="El Colaborador es Obligatorio"> </dxi-validation-rule>
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbEmpleado'">
      <dx-drop-down-box
        #corrEmpleado
        [(value)]="model.CORR_EMPLEADO"
        [valueExpr]="'CORR_EMPLEADO'"
        [displayExpr]="'NOMBRE_EMPLEADO'"
        [deferRendering]="false"
        [placeholder]="'Seleccione una opción...'"
        [dataSource]="mEmpleado"
        [showClearButton]="true"
        [readOnly]="true"
        (onValueChanged)="valueChangedCORR_EMPLEADO($event)"
      >
        <div *dxTemplate="let data of 'content'">
          <dx-data-grid
            #dataEmpleado
            [dataSource]="mEmpleado"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedCORR_EMPLEADO($event.selectedRowKeys)"
            (onRowClick)="rowClickCORR_EMPLEADO($event, data)"
            [height]="'100%'"
            [width]="'100%'"
          >
            <dxi-column dataField="CORR_EMPLEADO" caption="Corr." [width]="'0%'" [visible]="false"></dxi-column>
            <dxi-column dataField="NOMBRE_EMPLEADO" caption="Empleado" [width]="'100%'"></dxi-column>
            <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>

    <dxi-item dataField="OBSERVACIONES" [label]="{text: 'Observaciones'}" [editorType]="'dxTextArea'" [colSpan]="2" [editorOptions]="{ placeholder: ' Observaciones...', showClearButton: true, readOnly: true}">
		</dxi-item>


	</dx-form>
  <div class="form">
    <div class="dx-fieldset">
      <div class="dx-fieldset-header">Detalle de Horas Extras</div>
      <div class="dx-field" *ngFor="let deta of this.model.SOLI_HORA_EXTRA_DETA; let i = index">
        <dx-form #fDataDeta2
        [id]="'form' + (i)"
        [formData]="deta"
        labelLocation="top"
        [colCount]="1"
        (onFieldDataChanged)="fielDataChangedfDataDeta($event, i)"
        >
        <dxi-item [caption]="'Día '+ deta.CORR_SOLICITUD_DETA" itemType="group" [colCount]="18" [colSpan]="1">
        <dxi-item dataField="CORR_SOLICITUD_DETA" [visible]="false" [label]="{text: 'Corr'}" [colSpan]="2" [editorOptions]="{readOnly: true}">
        </dxi-item>
        <dxi-item dataField="CORR_RUBRO" [label]="{text: 'Rubro'}" [colSpan]="3" [template]="'cbRubro'" >
        </dxi-item>
        <dxi-item dataField="FECHA_INICIAL_SOLI_H" [visible]="true"  [label]="{text: 'Fecha'}"  [editorType]="'dxDateBox'" [colSpan]="3" [editorOptions]="{ placeholder: 'Fecha Inicial...', useMaskBehavior: true, displayFormat:'dd/MM/yyyy',readOnly: true }">
        </dxi-item>
        <dxi-item dataField="FECHA_INICIAL_SOLI" [visible]="true"  [label]="{text: 'Desde'}" [editorType]="'dxDateBox'" [colSpan]="2" [editorOptions]="{ placeholder: 'Fecha Inicial...', useMaskBehavior: true, displayFormat:'hh:mm a', type:'time', pickerType:'list',readOnly: true }">
        </dxi-item>
        <dxi-item dataField="FECHA_FINAL_SOLI" [visible]="true"  [label]="{text: 'Hasta'}" [editorType]="'dxDateBox'" [colSpan]="2" [editorOptions]="{ placeholder: 'Fecha Final...', useMaskBehavior: true, displayFormat:'hh:mm a', type:'time', pickerType:'list',readOnly: true }">
        </dxi-item>
        <dxi-item dataField="TOTAL_HORAS_SOLI" [visible]="true"  [label]="{text: 'Horas'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Total Horas...', readOnly: true }">
        </dxi-item>
        <dxi-item dataField="TOTAL_MINUTOS_SOLI" [visible]="true"  [label]="{text: 'Minutos'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Total Minutos...', readOnly: true }">
        </dxi-item>

        <!-- AUTORIZA -->
        <dxi-item editorType="Empty" [visible]="mostrarAut" [colSpan]="4" ></dxi-item>
        <dxi-item editorType="Empty" [visible]="mostrarAut" [colSpan]="3" ></dxi-item>
        <dxi-item dataField="FECHA_INICIAL_AUT_H" [visible]="mostrarAut"  [label]="{text: 'Fecha Aut'}"  [editorType]="'dxDateBox'" [colSpan]="3" [editorOptions]="{ placeholder: 'Fecha Inicial...', useMaskBehavior: true, displayFormat:'dd/MM/yyyy',readOnly: true }">
        </dxi-item>
        <dxi-item dataField="FECHA_INICIAL_AUT" [visible]="mostrarAut"  [label]="{text: 'Desde'}" [editorType]="'dxDateBox'" [colSpan]="2" [editorOptions]="{ placeholder: 'Fecha Inicial...', useMaskBehavior: true, displayFormat:'hh:mm a', type:'time', pickerType:'list',readOnly: !permiteEditAut }">
        </dxi-item>
        <dxi-item dataField="FECHA_FINAL_AUT" [visible]="mostrarAut"  [label]="{text: 'Hasta'}" [editorType]="'dxDateBox'" [colSpan]="2" [editorOptions]="{ placeholder: 'Fecha Final...', useMaskBehavior: true, displayFormat:'hh:mm a', type:'time', pickerType:'list',readOnly: !permiteEditAut }">
        </dxi-item>
        <dxi-item dataField="TOTAL_HORAS_AUT" [visible]="mostrarAut"  [label]="{text: 'Horas Autoriza'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Total Horas...', readOnly: true }">
        </dxi-item>
        <dxi-item dataField="TOTAL_MINUTOS_AUT" [visible]="mostrarAut"  [label]="{text: 'Minutos Autoriza'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Total Minutos...', readOnly: true }">
        </dxi-item>

        <!-- REALES -->
        <dxi-item editorType="Empty" [visible]="mostrarReal" [colSpan]="4" ></dxi-item>
        <dxi-item editorType="Empty" [visible]="mostrarReal" [colSpan]="3" ></dxi-item>
        <dxi-item dataField="FECHA_INICIAL_H" [visible]="mostrarReal"  [label]="{text: 'Fecha Realizo'}"  [editorType]="'dxDateBox'" [colSpan]="3" [editorOptions]="{ placeholder: 'Fecha Inicial...', useMaskBehavior: true, displayFormat:'dd/MM/yyyy',readOnly: true }">
        </dxi-item>
        <dxi-item dataField="FECHA_INICIAL" [visible]="mostrarReal"  [label]="{text: 'Desde'}" [editorType]="'dxDateBox'" [colSpan]="2" [editorOptions]="{ placeholder: 'Fecha Inicial...', useMaskBehavior: true, displayFormat:'hh:mm a', type:'time', pickerType:'list',readOnly: !permiteEditReal }">
        </dxi-item>
        <dxi-item dataField="FECHA_FINAL" [visible]="mostrarReal"  [label]="{text: 'Hasta'}" [editorType]="'dxDateBox'" [colSpan]="2" [editorOptions]="{ placeholder: 'Fecha Final...', useMaskBehavior: true, displayFormat:'hh:mm a', type:'time', pickerType:'list',readOnly: !permiteEditReal }">
        </dxi-item>
        <dxi-item dataField="TOTAL_HORAS" [visible]="mostrarReal"  [label]="{text: 'Horas Realizo'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Total Horas...', readOnly: true }">
        </dxi-item>
        <dxi-item dataField="TOTAL_MINUTOS" [visible]="mostrarReal"  [label]="{text: 'Minutos Realizo'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Total Minutos...', readOnly: true }">
        </dxi-item>
      </dxi-item>
      <div *dxTemplate="let cellInfo of 'cbRubro'">
        <dx-drop-down-box
          #corrRubro
          [dataSource]="mRubro"
          [(value)]="deta.CORR_RUBRO"
          valueExpr="CORR_RUBRO"
          displayExpr="NOMBRE_RUBRO"
          [deferRendering]="false"
          [placeholder]="'Rubro...'"
          [readOnly]="true"
          >
          <div *dxTemplate="let en of 'content'">
            <dx-data-grid
              #dataRubro
              [dataSource]="mRubro"
              [remoteOperations]="true"
              [height]="250"
              [hoverStateEnabled]="true"
              [filterSyncEnabled]="true"
              (onSelectionChanged)="selectionChangedCORR_RUBRO($event.selectedRowKeys, i)"
              (onRowClick)="rowClickCORR_RUBRO($event.selectedRowKeys, cellInfo, en)"
              [height]="'100%'"
              [width]="'100%'">
                <dxi-column dataField="CORR_RUBRO" caption="corr" [width]="'0%'" [visible]="false"></dxi-column>
                <dxi-column dataField="NOMBRE_RUBRO" caption="Rubro" [width]="'100%'"></dxi-column>
                <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
                <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-selection mode="single"></dxo-selection>
            </dx-data-grid>
          </div>
        </dx-drop-down-box>
      </div>
        </dx-form>

      </div>
    </div>
  </div>
</div>
<dx-data-grid class="content-grid"
	#gData
	[visible]="isBrowse()"
	[dataSource]="models"
	[keyExpr]="['CORR_EMPLEADO','CORR_SOLICITUD']"
	[columnAutoWidth]="false"
	[showBorders]="true"
	[showColumnLines]="true"
	[showRowLines]="true"
	[rowAlternationEnabled]="true"
	[hoverStateEnabled]="false"
	[allowColumnResizing]="true"
	[columnResizingMode]="'widget'"
	[focusedRowEnabled]="true"
	[height]="450" [width]="'99%'"
	(onRowDblClick)="rowDblClick($event)"
	(onFocusedRowChanged)="focusedRowChanged($event)"
	>
	<dxo-editing mode="row"
	[refreshMode]="'reshape'"
	[allowDeleting]="false"
	[useIcons]="true">
	</dxo-editing>
	<dxo-selection [mode]="'single'"></dxo-selection>
	<dxo-load-panel [enabled]="false"></dxo-load-panel>
	<dxo-search-panel [visible]="true"></dxo-search-panel>
	<dxo-export [enabled]="true" fileName="PlaSoliHoraExtra" [allowExportSelectedData]="true"></dxo-export>
	<dxo-group-panel [visible]="true"></dxo-group-panel>
	<dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
	<dxo-paging [enabled]="false"></dxo-paging>
	<dxo-filter-panel [visible]="true"></dxo-filter-panel>
	<dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
	<dxo-header-filter [visible]="true"></dxo-header-filter>

	<dxi-column type="buttons" [width]="65">
		<dxi-button hint="Editar Registro" icon="edit" [visible]="getPermiteEditar" [onClick]="editarClick"></dxi-button>
		<dxi-button name="delete" [visible]="false"></dxi-button>
	</dxi-column>
  <dxi-column dataField="CORR_SOLICITUD" caption="Corr." [width]="85" [allowSorting]="true" [sortOrder]="'desc'"></dxi-column>
	<dxi-column dataField="CORR_EMPLEADO" caption="Corr Empleado" [visible]="false" [width]="85"  [visible]="false"></dxi-column>
	<dxi-column dataField="NOMBRE_EMPLEADO" caption="Empleado" [width]="250"></dxi-column>
	<dxi-column dataField="FECHA_SOLICITUD" caption="Fecha" [width]="100" [format]="'dd/MM/yyyy'" [dataType]="'date'"></dxi-column>

	<dxi-column dataField="ESTADO_SOLICITUD" caption="Estado Solicitud" [visible]="false" [width]="175"></dxi-column>
	<dxi-column dataField="NOMBRE_ESTADO_SOLICITUD" caption="Estado" [width]="150"></dxi-column>
	<dxi-column dataField="OBSERVACIONES" caption="Observaciones" [width]="200"></dxi-column>
  <dxi-column dataField="USUARIO_AUTORIZA" caption="Usuario Autoriza" [width]="100"></dxi-column>
	<dxi-column dataField="USUARIO_CREA" caption="Usuario Crea" [width]="100"></dxi-column>
	<dxi-column dataField="FECHA_CREA" caption="Fecha Crea" [width]="140" [dataType]="'datetime'"></dxi-column>
	<dxi-column dataField="ESTACION_CREA" caption="Estación Crea" [width]="100"></dxi-column>
	<dxi-column dataField="USUARIO_ACTU" caption="Usuario Actu" [width]="100"></dxi-column>
	<dxi-column dataField="FECHA_ACTU" caption="Fecha Actu" [width]="140" [dataType]="'datetime'"></dxi-column>
	<dxi-column dataField="ESTACION_ACTU" caption="Estación Actu" [width]="100"></dxi-column>
	<dxi-column dataField="CORR_MONEDA" caption="Corr Moneda" [visible]="false" [width]="85"  [visible]="false"></dxi-column>
	<dxi-column dataField="NOMBRE_MONEDA" caption="Moneda" [width]="130"></dxi-column>
	<dxi-column dataField="SIMBOLO" caption="Símbolo" [width]="100"></dxi-column>
	<dxo-summary>
		<dxi-total-item column="CORR_SOLICITUD" summaryType="count" valueFormat="#,##0" displayFormat="Cant: {0}">
		</dxi-total-item>
	</dxo-summary>
</dx-data-grid>
<dx-load-panel
	#loadPanel
	shadingColor="rgba(0,0,0,0.4)"
	[position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
	[(visible)]="loadingVisible"
	[showIndicator]="true"
	[showPane]="true"
	[shading]="true"
	(onShown)="loadingVisible">
</dx-load-panel>
