<h2 class="content-block">{{tituloVentana}}</h2>
<dx-toolbar class="myToolbar">
  <dxi-item location="before">
    <dx-button class="myButton" text="Nuevo" type="default" (onClick)="nuevo()" [visible]="permiteAdd && isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="before">
    <dx-button class="myButton" text="Solicitar" type="success" (onClick)="Solicitar()" [visible]="permiteAdd && isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="before" >
    <dx-button class="myButton" text="Guardar" type="success" (onClick)="guardar()" [visible]="!isBrowse() && isForm()">
    </dx-button>
  </dxi-item>
  <dxi-item location="before" >
    <dx-button class="myButton" text="Cancelar" type="danger" (onClick)="cancelar()" [visible]="!isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="after" >
    <dx-button icon="refresh"
    [visible]="isBrowse()"
    (onClick)="consultar()">
    </dx-button>
  </dxi-item>
  <dxi-item location="after"  [locateInMenu]="'auto'">
    <dx-date-box [(value)]="param.FECHA_INICIAL"
    [visible]="isBrowse()"
    [useMaskBehavior]= "true"
    type="date"
    displayFormat="dd/MM/yyyy"
    width="100"
    ></dx-date-box>
  </dxi-item>
  <dxi-item location="after"  [locateInMenu]="'auto'">
    <dx-date-box [(value)]="param.FECHA_FINAL"
    [visible]="isBrowse()"
    [useMaskBehavior]= "true"
    type="date"
    displayFormat="dd/MM/yyyy"
    width="100"
    ></dx-date-box>
  </dxi-item>
</dx-toolbar>
<div class="content-block dx-card responsive-paddings" *ngIf="!isBrowse()">
	<dx-form #fData id="form"
	[formData]="model"
	labelLocation="top"
	[colCount]="5">
    <dxi-item dataField="CORR_CONVENIO" [label]="{text: 'Corr.'}" [editorOptions]="{ readOnly: true }">
    </dxi-item>
    <dxi-item dataField="ESTADO_CONVENIO" [label]="{text: 'Estado'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Estado Convenio...', showClearButton: true }" [template]="'cbEstadoConvenio'">
      <dxi-validation-rule type="required"  message="El Estado es Obligatorio"> </dxi-validation-rule>
		</dxi-item>
    <div *dxTemplate="let cellInfo of 'cbEstadoConvenio'">
      <dx-drop-down-box
        #estadoConvenio
        [(value)]="model.ESTADO_CONVENIO"
        [valueExpr]="'CODIGO'"
        [displayExpr]="'DESCRIPCION'"
        [deferRendering]="false"
        [placeholder]="'Estado...'"
        [dataSource]="mEstado"
        [showClearButton]="true"
        [readOnly]="true"
        (valueChange)="valueChangedESTADO_CONVENIO($event)">
        <div *dxTemplate="let dEstadoExpediente of 'content'">
          <dx-data-grid
            #dataEstadoConvenio
            [dataSource]="mEstado"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedESTADO_CONVENIO($event.selectedRowKeys)"
            (onRowClick)="rowClickESTADO_CONVENIO($event, dEstadoExpediente)"
            [height]="'100%'"
            [width]="'100%'">
              <dxi-column dataField="CODIGO" caption="Código." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="DESCRIPCION" caption="Estado" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
    <dxi-item dataField="CORR_EMPLEADO" [label]="{text: 'Colaborador'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Colaborador...', showClearButton: true }" [template]="'cbEmpleado'">
      <dxi-validation-rule type="required"  message="El Colaborador es Obligatorio"> </dxi-validation-rule>
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbEmpleado'">
      <dx-drop-down-box
        #corrEmpleado
        [(value)]="model.CORR_EMPLEADO"
        [valueExpr]="'CORR_EMPLEADO'"
        [displayExpr]="'NOMBRE_EMPLEADO'"
        [deferRendering]="false"
        [placeholder]="'Estado...'"
        [dataSource]="mEmpleado"
        [showClearButton]="true"
        [readOnly]="true"
        (valueChange)="valueChangedCORR_EMPLEADO($event)">
        <div *dxTemplate="let dEmpleado of 'content'">
          <dx-data-grid
            #dataEstadoSolicitud
            [dataSource]="mEmpleado"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedCORR_EMPLEADO($event.selectedRowKeys)"
            (onRowClick)="rowClickCORR_EMPLEADO($event, dEmpleado)"
            [height]="'100%'"
            [width]="'100%'">
              <dxi-column dataField="CORR_EMPLEADO" caption="Corr." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="NOMBRE_EMPLEADO" caption="Empleado" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
    <dxi-item dataField="FECHA_SOLICITUD" [label]="{text: 'Fecha Solicitud'}" [editorType]="'dxDateBox'" [colSpan]="1" [editorOptions]="{ placeholder: ' Fecha Solicitud...', displayFormat:'dd/MM/yyyy', readOnly: true }">
    <dxi-validation-rule type="required"  message="Fecha de solicitus es Obligatoria"> </dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="CORR_RUBRO_CONVENIO" [label]="{text: 'Comercio'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Comercio ...' }" [template]="'cbCORR_RUBRO_CONVENIO'">
      <dxi-validation-rule type="required"  message="El Comercio es Obligatorio"> </dxi-validation-rule>
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbCORR_RUBRO_CONVENIO'">
      <dx-drop-down-box
        #corrRubro
        [(value)]="model.CORR_RUBRO_CONVENIO"
        [valueExpr]="'CORR_RUBRO'"
        [displayExpr]="'NOMBRE_RUBRO'"
        [deferRendering]="false"
        [placeholder]="'Rubro...'"
        [dataSource]="mRubro"
        [showClearButton]="false"
        [readOnly]="bloqLookup"
        (valueChange)="valueChangedCORR_RUBRO_CONVENIO($event)">
        <div *dxTemplate="let dRubro of 'content'">
          <dx-data-grid
            #datarRubro
            [dataSource]="mRubro"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedCORR_RUBRO_CONVENIO($event.selectedRowKeys)"
            (onRowClick)="rowClickCORR_RUBRO_CONVENIO($event, dRubro)"
            [height]="'100%'"
            [width]="'100%'">
              <dxi-column dataField="CORR_RUBRO" caption="Corr." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="NOMBRE_RUBRO" caption="Rubro" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
    <dxi-item dataField="CLASE_CONVENIO" [label]="{text: 'Tipo'}" [colSpan]="1" [editorOptions]="{ placeholder: 'Clase Convenio...' }" [template]="'cbTipoConvenio'">
      <dxi-validation-rule type="required"  message="Clase de convenio es Obligatorio"> </dxi-validation-rule>
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbTipoConvenio'">
      <dx-drop-down-box
        #corrTipoConvenio
        [dataSource]="mTipoConvenio"
        [(value)]="model.CLASE_CONVENIO"
        [valueExpr]="'CODIGO'"
        [displayExpr]="'DESCRIPCION'"
        [deferRendering]="false"
        [placeholder]="'Tipo de Convenio...'"
        [showClearButton]="false"
        [readOnly]="bloqLookup"
        (onValueChanged)="valueChangedCORR_TIPO_CONVENIO($event)">
        <div *dxTemplate="let dTipoConvenio of 'content'">
          <dx-data-grid
            #dataTipoConvenio
            [dataSource]="mTipoConvenio"
            [remoteOperations]="true"
            [hoverStateEnabled]="true"
            [filterSyncEnabled]="true"
            [selection]="{ mode: 'single' }"
            [scrolling]="{ mode: 'infinite' }"
            (onSelectionChanged)="selectionChangedCORR_TIPO_CONVENIO($event.selectedRowKeys)"
            (onRowClick)="rowClickCORR_TIPO_CONVENIO($event, dTipoConvenio)"
            [height]="'100%'"
            [width]="'100%'">
              <dxi-column dataField="CODIGO" caption="Corr." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="DESCRIPCION" caption="Tipo de Convenio" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
    <dxi-item dataField="MONTO_CREDITO" [label]="{text: 'Monto Crédito'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Monto Credito...', format: '#,##0.00', showClearButton: false }">
      <dxi-validation-rule type="required"  message="Monto de credito es Obligatorio"> </dxi-validation-rule>
    </dxi-item>
    <dxi-item itemType="empty">
    </dxi-item>
    <dxi-item dataField="OBSERVACIONES" [label]="{text: 'Observaciones'}" [colSpan]="2" [editorType]="'dxTextArea'" [editorOptions]="{ placeholder: ' Observaciones...', showClearButton: true }">
		</dxi-item>
    <dxi-item dataField="NOMBRE_BENEFICIARIO" [visible]="!bloqBeneficiario" [label]="{text: 'Beneficiario'}" [colSpan]="2" [editorOptions]="{ placeholder: ' Nombre Beneficiario...', showClearButton: true }">
		</dxi-item>
		<dxi-item dataField="NUMERO_IDENTIFICACION_BENEFICIARIO"  [visible]="!bloqBeneficiario" [label]="{text: 'No. Doc Identidad'}" [colSpan]="1" [editorOptions]="{ placeholder: ' No.Documento...', showClearButton: true, maxLength: 20 }">
		</dxi-item>
	</dx-form>
</div>
<dx-data-grid class="content-grid"
	#gData
	[visible]="isBrowse()"
	[dataSource]="models"
	keyExpr="CORR_CONVENIO"
	[columnAutoWidth]="false"
	[showBorders]="true"
	[showColumnLines]="true"
	[showRowLines]="true"
	[rowAlternationEnabled]="true"
	[hoverStateEnabled]="false"
	[allowColumnResizing]="true"
	[columnResizingMode]="'widget'"
	[focusedRowEnabled]="true"
	[height]="450" [width]="'99%'"
	(onRowRemoving)="rowRemoving($event)"
	(onRowDblClick)="rowDblClick($event)"
	(onFocusedRowChanged)="focusedRowChanged($event)"
	>
	<dxo-editing mode="row"
	[refreshMode]="'reshape'"
	[allowDeleting]="true"
	[useIcons]="true">
	</dxo-editing>
	<dxo-selection [mode]="'single'"></dxo-selection>
	<dxo-load-panel [enabled]="false"></dxo-load-panel>
	<dxo-search-panel [visible]="true"></dxo-search-panel>
	<dxo-export [enabled]="true" fileName="PlaSoliConvenio" [allowExportSelectedData]="true"></dxo-export>
	<dxo-group-panel [visible]="true"></dxo-group-panel>
	<dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
	<dxo-paging [enabled]="false"></dxo-paging>
	<dxo-filter-panel [visible]="true"></dxo-filter-panel>
	<dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
	<dxo-header-filter [visible]="true"></dxo-header-filter>

	<dxi-column type="buttons" [width]="50">
		<dxi-button hint="Editar Registro" icon="edit" [visible]="getPermiteEditar" [onClick]="editarClick"></dxi-button>
		<dxi-button name="delete" [visible]="getPermiteDele"></dxi-button>
	</dxi-column>
  <dxi-column dataField="CORR_CONVENIO" caption="Corr." [width]="65"></dxi-column>
  <dxi-column dataField="ESTADO_CONVENIO" caption="Estado Convenio" [width]="100" [visible]="false"></dxi-column>
  <dxi-column dataField="NOMBRE_ESTADO_CONVENIO" caption="Estado" [width]="100"></dxi-column>
  <dxi-column dataField="FECHA_SOLICITUD" caption="Fecha Solicitud" [width]="125" [dataType]="'date'"></dxi-column>
  <dxi-column dataField="NOMBRE_EMPLEADO" caption="Empleado" [width]="250"></dxi-column>
  <dxi-column dataField="NOMBRE_RUBRO" caption="Comercio" [width]="200"></dxi-column>
  <dxi-column dataField="MONTO_CREDITO" caption="Monto Crédito" [width]="125" [format]="'#,##0.00'"></dxi-column>
  <dxi-column dataField="MONTO_RUBRO_TOTAL" caption="Monto Prestamo" [width]="125" [format]="'#,##0.00'"></dxi-column>
  <dxi-column dataField="CLASE_CONVENIO" caption="Clase Convenio" [width]="100" [visible]="false"></dxi-column>
  <dxi-column dataField="NOMBRE_CLASE_CONVENIO" caption="Tipo" [width]="100"></dxi-column>
  <dxi-column dataField="NOMBRE_BENEFICIARIO" caption="Beneficiario" [width]="250"></dxi-column>
	<dxi-column dataField="NUMERO_IDENTIFICACION_BENEFICIARIO" caption="No.Documento" [width]="150"></dxi-column>
  <dxi-column dataField="FECHA_ENTREGA" caption="Fecha Entrega" [width]="125" [dataType]="'date'"></dxi-column>
  <dxi-column dataField="FECHA_VENCIMIENTO" caption="F.Vencimiento" [width]="125" [dataType]="'date'"></dxi-column>
	<dxi-column dataField="NOMBRE_MONEDA" caption="Moneda" [width]="100"></dxi-column>
	<dxi-column dataField="OBSERVACIONES" caption="Observaciones" [width]="300"></dxi-column>
	<dxi-column dataField="USUARIO_SOLICITA" caption="Usuario Solicita" [width]="100"></dxi-column>
	<dxi-column dataField="USUARIO_AUTORIZA" caption="Usuario Autoriza" [width]="100"></dxi-column>
	<dxi-column dataField="USUARIO_CREA" caption="Usuario Crea" [width]="100"></dxi-column>
	<dxi-column dataField="FECHA_CREA" caption="Fecha Crea" [width]="160" [dataType]="'datetime'"></dxi-column>
	<dxi-column dataField="ESTACION_CREA" caption="Estacion Crea" [width]="100"></dxi-column>
	<dxi-column dataField="USUARIO_ACTU" caption="Usuario Actu" [width]="100"></dxi-column>
	<dxi-column dataField="FECHA_ACTU" caption="Fecha Actu" [width]="160" [dataType]="'datetime'"></dxi-column>
	<dxi-column dataField="ESTACION_ACTU" caption="Estacion Actu" [width]="100"></dxi-column>
  <dxi-column dataField="NOMBRE_PERIODICIDAD" caption="Periodicidad" [visible]="false" [width]="125"></dxi-column>
  <dxi-column dataField="MONTO_CUOTA" caption="Monto Cuota" [width]="125" [format]="'#,##0.00'"></dxi-column>
  <dxi-column dataField="NUMERO_CUOTAS" caption="No. Cuotas" [width]="125"></dxi-column>
  <dxi-column dataField="FECHA_INICIO" caption="Fecha Inicio Cobro" [visible]="false" [width]="125" [dataType]="'date'"></dxi-column>
	<dxo-summary>
		<dxi-total-item column="CORR_CONVENIO" summaryType="count" valueFormat="#,##0" displayFormat="Cant: {0}">
		</dxi-total-item>
	</dxo-summary>
</dx-data-grid>
<dx-load-panel
	#loadPanel
	shadingColor="rgba(0,0,0,0.4)"
	[position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
	[(visible)]="loadingVisible"
	[showIndicator]="true"
	[showPane]="true"
	[shading]="true"
	(onShown)="loadingVisible">
</dx-load-panel>
