<h2 class="content-block">{{tituloVentana}}</h2>
<dx-toolbar class="myToolbar">
  <dxi-item location="before">
    <dx-button class="myButton" text="Nuevo" type="default" (onClick)="nuevo()" [visible]="permiteAdd && isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="before">
    <dx-button class="myButton" text="Solicitar" type="success" (onClick)="Solicitar()" [visible]="permiteAdd && isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="before" >
    <dx-button class="myButton" text="Guardar" type="success" (onClick)="guardar()" [visible]="!isBrowse() && isForm()">
    </dx-button>
  </dxi-item>
  <dxi-item location="before" >
    <dx-button class="myButton" text="Cancelar" type="normal" (onClick)="cancelar()" [visible]="!isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="after" >
    <dx-button icon="refresh"
    [visible]="permiteAdd && isBrowse()"
    (onClick)="consultar()">
    </dx-button>
  </dxi-item>
  <dxi-item location="after"  [locateInMenu]="'auto'">
    <dx-date-box [(value)]="param.FECHA_INICIAL"
    [visible]="permiteAdd && isBrowse()"
    [useMaskBehavior]= "true"
    type="date"
    displayFormat="dd/MM/yyyy"
    width="100"
    ></dx-date-box>
  </dxi-item>
  <dxi-item location="after"  [locateInMenu]="'auto'">
    <dx-date-box [(value)]="param.FECHA_FINAL"
    [visible]="permiteAdd && isBrowse()"
    [useMaskBehavior]= "true"
    type="date"
    displayFormat="dd/MM/yyyy"
    width="100"
    ></dx-date-box>
  </dxi-item>
</dx-toolbar>
<div class="content-block dx-card responsive-paddings" *ngIf="!isBrowse()">
  <dx-form #fData id="form"
	[formData]="model"
	labelLocation="top"
	[colCount]="5">
    <dxi-item dataField="CORR_PERMISO" [label]="{text: 'Corr.'}" [editorOptions]="{ readOnly: true }">
		</dxi-item>
    <dxi-item dataField="ESTADO_PERMISO" [label]="{text: 'Estado'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Estado Permiso...', showClearButton: true }" [template]="'cbEstadoPermiso'">
    </dxi-item>
    <dxi-item dataField="CORR_EMPLEADO" [label]="{text: 'Empleado'}" [colSpan]="2" [editorOptions]="{ placeholder: ' Empleado...', showClearButton: true }" [template]="'cbUsuario'">
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbUsuario'">
      <dx-drop-down-box
        #corrUSuario
        [(value)]="model.CORR_EMPLEADO"
        [valueExpr]="'CORR_EMPLEADO'"
        [displayExpr]="'NOMBRE_EMPLEADO'"
        [deferRendering]="false"
        [placeholder]="'Seleccione una opción...'"
        [dataSource]="mUsuario"
        [showClearButton]="true"
        [readOnly]="true"
        (onValueChanged)="valueChangedCORR_USUARIO($event)"
      >
        <div *dxTemplate="let data of 'content'">
          <dx-data-grid
            #dataUSuario
            [dataSource]="mUsuario"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedCORR_USUARIO($event.selectedRowKeys)"
            (onRowClick)="rowClickCORR_USUARIO($event, data)"
            [height]="'100%'"
            [width]="'100%'"
          >
            <dxi-column dataField="CORR_EMPLEADO" caption="Corr." [width]="'0%'" [visible]="false"></dxi-column>
            <dxi-column dataField="NOMBRE_EMPLEADO" caption="Empleado" [width]="'100%'"></dxi-column>
            <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
    <dxi-item dataField="CON_GOCE_SALARIAL" [label]="{text: 'Goce Sueldo'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Con Goce Salarial...', showClearButton: true}">
		</dxi-item>
    <div *dxTemplate="let cellInfo of 'cbEstadoPermiso'">
      <dx-drop-down-box
        #estadoSolicitud
        [(value)]="model.ESTADO_PERMISO"
        [valueExpr]="'CODIGO'"
        [displayExpr]="'DESCRIPCION'"
        [deferRendering]="false"
        [placeholder]="'Estado...'"
        [dataSource]="mEstado"
        [showClearButton]="true"
        [readOnly]="true"
        (valueChange)="valueChangedESTADO_PERMISO($event)">
        <div *dxTemplate="let dEstadoExpediente of 'content'">
          <dx-data-grid
            #dataEstadoSolicitud
            [dataSource]="mEstado"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedESTADO_PERMISO($event.selectedRowKeys)"
            (onRowClick)="rowClickESTADO_PERMISO($event, dEstadoExpediente)"
            [height]="'100%'"
            [width]="'100%'">
              <dxi-column dataField="CODIGO" caption="Código." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="DESCRIPCION" caption="Estado" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
    <dxi-item dataField="FECHA_SOLICITUD" [label]="{text: 'Fecha Solicitud'}"  [editorType]="'dxDateBox'" [colSpan]="1" [editorOptions]="{ placeholder: ' Fecha Solicitud...', useMaskBehavior: true, displayFormat:'dd/MM/yyyy'}">
      <dxi-validation-rule type="required"  message="Fecha Solicitud es Obligatorio"> </dxi-validation-rule>
		</dxi-item>
		<dxi-item dataField="CORR_MOTIVO_PERMISO" [label]="{text: 'Motivo Permiso'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Motivo Permiso...', showClearButton: true }" [template]="'cbMotivoPermiso'">
      <dxi-validation-rule type="required"  message="Motivo Permiso es Obligatorio"> </dxi-validation-rule>
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbMotivoPermiso'">
      <dx-drop-down-box
        #corrMotivoPermiso
        [(value)]="model.CORR_MOTIVO_PERMISO"
        [valueExpr]="'CORR_MOTIVO_PERMISO'"
        [displayExpr]="'NOMBRE_MOTIVO_PERMISO'"
        [deferRendering]="false"
        [placeholder]="'Seleccione una opción...'"
        [dataSource]="mMotivoPermiso"
        [showClearButton]="true"
        [readOnly]="bloquearTodo"
        (onValueChanged)="valueChangedCORR_MOTIVO_PERMISO($event)"
      >
        <div *dxTemplate="let data of 'content'">
          <dx-data-grid
            #dataMotivoPermiso
            [dataSource]="mMotivoPermiso"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedCORR_MOTIVO_PERMISO($event.selectedRowKeys)"
            (onRowClick)="rowClickCORR_MOTIVO_PERMISO($event, data)"
            [height]="'100%'"
            [width]="'100%'"
          >
            <dxi-column dataField="CORR_MOTIVO_PERMISO" caption="Corr." [width]="'0%'" [visible]="false"></dxi-column>
            <dxi-column dataField="NOMBRE_MOTIVO_PERMISO" caption="Permiso" [width]="'100%'"></dxi-column>
            <dxi-column dataField="CON_GOCE_SALARIAL" caption="Goce." [width]="'0%'" [visible]="false"></dxi-column>
            <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
		<dxi-item dataField="OBSERVACIONES" [label]="{text: 'Observaciones'}" editorType="dxTextArea" [colSpan]="2" [editorOptions]="{ placeholder: ' Observaciones...', showClearButton: true }">
		</dxi-item>
    <dxi-item itemType="empty"></dxi-item>
  </dx-form>

  <div class="form">
    <div class="dx-fieldset">
      <div class="dx-fieldset-header">Detalle de Permisos</div>
      <div class="dx-field" *ngFor="let deta of this.model.SOLI_PERMISO_DETA; let i = index">
        <dx-form #fDataDeta2
        [id]="'form' + (i)"
        [formData]="deta"
        labelLocation="top"
        [colCount]="18"
        (onFieldDataChanged)="fielDataChangedfDataDeta($event, i)"
        >
              <dxi-item  [colSpan]="1" [template]="'btnEliminar'">
              </dxi-item>
              <div *dxTemplate="let cellInfo of 'btnEliminar'">
                <dx-button class="myButtonDetaNoGrid"  icon="trash" type="normal" (onClick)="fDataDetaRowRemoving($event,i)" [visible]="!isBrowse() && isForm()">
                </dx-button>
              </div>
              <dxi-item dataField="CORR_PERMISO_DETA"  [label]="{text: 'Permiso'}" [colSpan]="2" [editorOptions]="{readOnly: true}">
              </dxi-item>
              <dxi-item dataField="CLASE_SOLICITUD_PERMISO_DETA" [label]="{text: 'Clase'}" [colSpan]="2" [template]="'cbClaseSolicitudDeta'" >
              </dxi-item>
              <div *dxTemplate="let cellInfo of 'cbClaseSolicitudDeta'">
                <dx-drop-down-box
                  #claseSolicitudDeta
                  [dataSource]="mClaseSolicitudDeta"
                  [(value)]="deta.CLASE_SOLICITUD_PERMISO_DETA"
                  [(opened)]="deta.CLASE_OPEND"
                  valueExpr="CODIGO"
                  displayExpr="DESCRIPCION"
                  [deferRendering]="false"
                  [placeholder]="'Clase...'"
                  [readOnly]="bloquearTodo"
                  (onValueChanged)="valueChangedCLASE_SOLICITUD_DETA($event, i)"
                  (onOptionChanged)="onGridBoxOptionChanged($event, i)"
                  >
                  <div *dxTemplate="let en of 'content'">
                    <dx-data-grid
                      #dataClaseSolicitudDeta
                      [dataSource]="mClaseSolicitudDeta"
                      [remoteOperations]="true"
                      [height]="250"
                      [hoverStateEnabled]="true"
                      [filterSyncEnabled]="true"
                      (onSelectionChanged)="selectionChangedCLASE_SOLICITUD_DETA($event.selectedRowKeys, i)"
                      (onRowClick)="rowClickCLASE_SOLICITUD_DETA($event.selectedRowKeys, cellInfo, en)"
                      [height]="'100%'"
                      [width]="'100%'">
                        <dxi-column dataField="CODIGO" caption="Código." [width]="'0%'" [visible]="true"></dxi-column>
                        <dxi-column dataField="DESCRIPCION" caption="Clase" [width]="'100%'"></dxi-column>
                        <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
                        <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                        <dxo-selection mode="single"></dxo-selection>
                    </dx-data-grid>
                  </div>
                </dx-drop-down-box>
              </div>
              <dxi-item dataField="FECHA_INICIAL"  [visible]="deta.VISIBLE_DIA" [label]="{text: 'Fecha Inicial'}"  [editorType]="'dxDateBox'" [colSpan]="4" [editorOptions]="{ placeholder: 'Fecha Inicial...', useMaskBehavior: true, displayFormat:'dd/MM/yyyy',readOnly: bloquearTodo}">
              </dxi-item>
              <dxi-item dataField="FECHA_FINAL" [visible]="deta.VISIBLE_DIA" [label]="{text: 'Fecha Final'}"  [editorType]="'dxDateBox'" [colSpan]="4" [editorOptions]="{ placeholder: 'Fecha Final...', useMaskBehavior: true, displayFormat:'dd/MM/yyyy',readOnly: bloquearTodo }">
              </dxi-item>
              <dxi-item dataField="FECHA_INICIAL_H" [visible]="!deta.VISIBLE_DIA"  [label]="{text: 'Fecha'}"  [editorType]="'dxDateBox'" [colSpan]="4" [editorOptions]="{ placeholder: 'Fecha Inicial...', useMaskBehavior: true, displayFormat:'dd/MM/yyyy',readOnly: bloquearTodo }">
              </dxi-item>
              <dxi-item dataField="FECHA_INICIAL" [visible]="!deta.VISIBLE_DIA"  [label]="{text: 'Desde'}" [editorType]="'dxDateBox'" [colSpan]="2" [editorOptions]="{ placeholder: 'Fecha Inicial...', useMaskBehavior: true, displayFormat:'hh:mm a', type:'time', pickerType:'list',readOnly: bloquearTodo }">
              </dxi-item>
              <dxi-item dataField="FECHA_FINAL" [visible]="!deta.VISIBLE_DIA"  [label]="{text: 'Hasta'}" [editorType]="'dxDateBox'" [colSpan]="2" [editorOptions]="{ placeholder: 'Fecha Final...', useMaskBehavior: true, displayFormat:'hh:mm a', type:'time', pickerType:'list',readOnly: bloquearTodo }">
              </dxi-item>
              <dxi-item dataField="TOTAL_DIAS" [visible]="deta.VISIBLE_DIA"  [label]="{text: 'Días'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Total Dias...', readOnly: bloquearDetaSiempre }">
              </dxi-item>
              <dxi-item dataField="TOTAL_HORAS" [visible]="!deta.VISIBLE_DIA"  [label]="{text: 'Horas'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Total Horas...', readOnly: bloquearDetaSiempre }">
              </dxi-item>
              <dxi-item dataField="TOTAL_MIN" [visible]="!deta.VISIBLE_DIA"  [label]="{text: 'Minutos'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Total Minutos...', readOnly: bloquearDetaSiempre }">
              </dxi-item>
        </dx-form>

      </div>
    </div>
  </div>

  <dx-button class="myButton" text="Agregar" (onClick)="AgregarDeta()" type="success" [visible]="!isBrowse() && isForm()">
  </dx-button>

</div>

<dx-data-grid class="content-grid"
	#gData
	[visible]="isBrowse()"
	[dataSource]="models"
	keyExpr="CORR_PERMISO"
	[columnAutoWidth]="false"
	[showBorders]="true"
	[showColumnLines]="true"
	[showRowLines]="true"
	[rowAlternationEnabled]="true"
	[hoverStateEnabled]="false"
	[allowColumnResizing]="true"
	[columnResizingMode]="'widget'"
	[focusedRowEnabled]="true"
	[height]="450" [width]="'99%'"
	(onRowRemoving)="rowRemoving($event)"
	(onRowDblClick)="rowDblClick($event)"
	(onFocusedRowChanged)="focusedRowChanged($event)"
	>
	<dxo-editing mode="row"
	[refreshMode]="'reshape'"
	[allowDeleting]="true"
	[useIcons]="true">
	</dxo-editing>
	<dxo-selection [mode]="'single'"></dxo-selection>
	<dxo-load-panel [enabled]="false"></dxo-load-panel>
	<dxo-search-panel [visible]="true"></dxo-search-panel>
	<dxo-export [enabled]="true" fileName="PlaSoliPermiso" [allowExportSelectedData]="true"></dxo-export>
	<dxo-group-panel [visible]="true"></dxo-group-panel>
	<dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
	<dxo-paging [enabled]="false"></dxo-paging>
	<dxo-filter-panel [visible]="true"></dxo-filter-panel>
	<dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
	<dxo-header-filter [visible]="true"></dxo-header-filter>

	<dxi-column type="buttons" [width]="85">
		<dxi-button hint="Editar Registro" icon="edit" [visible]="getPermiteEditar" [onClick]="editarClick"></dxi-button>
		<dxi-button name="delete" [visible]="getPermiteDele"></dxi-button>
	</dxi-column>
	<dxi-column dataField="CORR_EMPLEADO" caption="Corr Empleado" [width]="85"  [visible]="false"></dxi-column>
	<dxi-column dataField="CORR_PERMISO" caption="Corr." [allowSorting]="true" [sortOrder]="'desc'" [width]="85"></dxi-column>
  <dxi-column dataField="NOMBRE_ESTADO_PERMISO" caption="Estado" [width]="100"></dxi-column>
  <dxi-column dataField="NOMBRE_EMPLEADO" caption="Empleado" [width]="225"></dxi-column>
  <dxi-column dataField="CON_GOCE_SALARIAL" caption="Goce Sueldo" [width]="120"></dxi-column>
	<dxi-column dataField="FECHA_SOLICITUD" caption="Fecha Solicitud" [width]="120" [dataType]="'date'"></dxi-column>
	<dxi-column dataField="CORR_MOTIVO_PERMISO" caption="Corr Motivo Permiso" [width]="85"  [visible]="false"></dxi-column>
	<dxi-column dataField="NOMBRE_MOTIVO_PERMISO" caption="Motivo Permiso" [width]="250"></dxi-column>
	<dxi-column dataField="OBSERVACIONES" caption="Observaciones" [width]="250"></dxi-column>
	<dxi-column dataField="USUARIO_SOLICITA" caption="Usuario Solicita" [width]="100" [visible]="false"></dxi-column>
	<dxi-column dataField="USUARIO_AUTORIZA" caption="Usuario Autoriza" [width]="100" [visible]="false"></dxi-column>
	<dxi-column dataField="ESTADO_PERMISO" caption="Estado Permiso" [width]="100" [visible]="false"></dxi-column>
	<dxi-column dataField="USUARIO_CREA" caption="Usuario Crea" [width]="100"></dxi-column>
	<dxi-column dataField="FECHA_CREA" caption="Fecha Crea" [width]="160" [dataType]="'datetime'"></dxi-column>
	<dxi-column dataField="ESTACION_CREA" caption="Estación Crea" [width]="100"></dxi-column>
	<dxi-column dataField="USUARIO_ACTU" caption="Usuario Actu" [width]="100"></dxi-column>
	<dxi-column dataField="FECHA_ACTU" caption="Fecha Actu" [width]="160" [dataType]="'datetime'"></dxi-column>
	<dxi-column dataField="ESTACION_ACTU" caption="Estación Actu" [width]="100"></dxi-column>
	<dxo-summary>
		<dxi-total-item column="CORR_PERMISO" summaryType="count" valueFormat="#,##0" displayFormat="Cant: {0}">
		</dxi-total-item>
	</dxo-summary>
</dx-data-grid>
<dx-load-panel
	#loadPanel
	shadingColor="rgba(0,0,0,0.4)"
	[position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
	[(visible)]="loadingVisible"
	[showIndicator]="true"
	[showPane]="true"
	[shading]="true"
	(onShown)="loadingVisible">
</dx-load-panel>
