<h2 class="content-block">{{tituloVentana}}</h2>
<dx-toolbar class="myToolbar">
  <dxi-item location="before" >
    <dx-button class="myButton" text="Autorizar" type="success" (onClick)="Autorizar()" [visible]="permiteEdit && isBrowse()">
    </dx-button>
  </dxi-item>
    <dxi-item location="before" >
  	<dx-button class="myButton" text="Guardar" type="success" (onClick)="guardar()" [visible]="!isBrowse() && isForm()">
  	</dx-button>
  </dxi-item>
    <dxi-item location="before" >
  	<dx-button class="myButton" text="Cancelar" type="normal" (onClick)="cancelar()" [visible]="!isBrowse()">
  	</dx-button>
  </dxi-item>
  <dxi-item location="after" >
    <dx-button icon="refresh"
    [visible]="isBrowse()"
    (onClick)="consultar()">
    </dx-button>
  </dxi-item>
</dx-toolbar>

<div class="content-block dx-card responsive-paddings" *ngIf="!isBrowse()">
	<dx-form #fData id="form"
	[formData]="model"
	labelLocation="top"
	[colCount]="4">
    <dxi-item dataField="NOMBRE_DEPARTAMENTO" [label]="{text: 'Departamento'}" [colSpan]="2" [editorOptions]="{ placeholder: ' Nombre Departamento...', showClearButton: false, readOnly: true }">
    </dxi-item>
    <dxi-item dataField="NOMBRE_CENTRO" [label]="{text: 'Centro Costo'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Nombre Centro...', showClearButton: false, readOnly: true }">
		</dxi-item>
    <dxi-item dataField="NOMBRE_ESTADO_PLAN" [label]="{text: 'Estado'}" [colSpan]="1" [editorOptions]="{ placeholder: 'Estado...', showClearButton: false, readOnly: true }">
		</dxi-item>

		<dxi-item dataField="NOMBRE_EMPLEADO" [label]="{text: 'Nombre'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Nombre Empleado...', showClearButton: false, readOnly: true }">
		</dxi-item>
		<dxi-item dataField="ANIO_PERIODO" [label]="{text: 'Año'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Anio Periodo...', showClearButton: false, readOnly: true }">
		</dxi-item>
		<dxi-item dataField="FECHA_INGRESO_EMPLEADO" [label]="{text: 'F.Ingreso'}" [colSpan]="1" [editorType]="'dxDateBox'" [editorOptions]="{ placeholder: ' Fecha Ingreso Empleado...', displayFormat:'dd/MM/yyyy', showClearButton: false, readOnly: true }">
		</dxi-item>
		<dxi-item dataField="DIAS_SALDO" [label]="{text: 'Saldo Ini'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Saldo...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		</dxi-item>

   <dxi-item itemType="group" caption="Enero"[colCount]="4" [colSpan]="4">
    <dxi-item dataField="DIAS_ACUM_1" [label]="{text: 'Acum', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'"  [editorOptions]="{ placeholder: ' Dias Acum 1...', showClearButton: false, readOnly: true , format: '#,##0.00'}">
		</dxi-item>
		<dxi-item dataField="DIAS_PROG_1" [label]="{text: 'Prog', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Prog 1...', showClearButton: false, format: '#,##0.00' }">
		</dxi-item>
    <dxi-item dataField="DIAS_DESC_1" [label]="{text: 'Desc', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Desc 1...', showClearButton: false , readOnly: true, format: '#,##0.00'}">
		</dxi-item>
    <dxi-item dataField="SALDO_1" [label]="{text: 'Saldo', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: '', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		</dxi-item>
   </dxi-item>

   <dxi-item itemType="group" caption="Febrero"[colCount]="4" [colSpan]="4">
    <dxi-item dataField="DIAS_ACUM_2" [label]="{text: 'Acum', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Acum 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		</dxi-item>
		<dxi-item dataField="DIAS_PROG_2" [label]="{text: 'Prog', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Prog 1...', showClearButton: false, format: '#,##0.00'}">
		</dxi-item>
    <dxi-item dataField="DIAS_DESC_2" [label]="{text: 'Desc', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Desc 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		</dxi-item>
    <dxi-item dataField="SALDO_2" [label]="{text: 'Saldo', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: '', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		</dxi-item>
   </dxi-item>


   <dxi-item itemType="group" caption="Marzo"[colCount]="4" [colSpan]="4">
      <dxi-item dataField="DIAS_ACUM_3" [label]="{text: 'Acum', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Acum 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
		  <dxi-item dataField="DIAS_PROG_3" [label]="{text: 'Prog', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Prog 1...', showClearButton: false, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="DIAS_DESC_3" [label]="{text: 'Desc', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Desc 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="SALDO_3" [label]="{text: 'Saldo', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: '', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Abril"[colCount]="4" [colSpan]="4">
      <dxi-item dataField="DIAS_ACUM_4" [label]="{text: 'Acum', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Acum 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
		  <dxi-item dataField="DIAS_PROG_4" [label]="{text: 'Prog', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Prog 1...', showClearButton: false, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="DIAS_DESC_4" [label]="{text: 'Desc', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Desc 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="SALDO_4" [label]="{text: 'Saldo', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: '', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Mayo"[colCount]="4" [colSpan]="4">
      <dxi-item dataField="DIAS_ACUM_5" [label]="{text: 'Acum', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Acum 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
		  <dxi-item dataField="DIAS_PROG_5" [label]="{text: 'Prog', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Prog 1...', showClearButton: false, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="DIAS_DESC_5" [label]="{text: 'Desc', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'"  [editorOptions]="{ placeholder: ' Dias Desc 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="SALDO_5" [label]="{text: 'Saldo', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: '', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Junio"[colCount]="4" [colSpan]="4">
      <dxi-item dataField="DIAS_ACUM_6" [label]="{text: 'Acum', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Acum 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
		  <dxi-item dataField="DIAS_PROG_6" [label]="{text: 'Prog', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Prog 1...', showClearButton: false, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="DIAS_DESC_6" [label]="{text: 'Desc', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Desc 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="SALDO_6" [label]="{text: 'Saldo', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: '', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Julio"[colCount]="4" [colSpan]="4">
      <dxi-item dataField="DIAS_ACUM_7" [label]="{text: 'Acum', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Acum 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
		  <dxi-item dataField="DIAS_PROG_7" [label]="{text: 'Prog', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Prog 1...', showClearButton: false, format: '#,##0.00'}">
		  </dxi-item>
      <dxi-item dataField="DIAS_DESC_7" [label]="{text: 'Desc', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Desc 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="SALDO_7" [label]="{text: 'Saldo', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: '', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Agosto"[colCount]="4" [colSpan]="4">
      <dxi-item dataField="DIAS_ACUM_8" [label]="{text: 'Acum', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Acum 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
		  <dxi-item dataField="DIAS_PROG_8" [label]="{text: 'Prog', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Prog 1...', showClearButton: false, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="DIAS_DESC_8" [label]="{text: 'Desc', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Desc 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="SALDO_8" [label]="{text: 'Saldo', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: '', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Septiembre"[colCount]="4" [colSpan]="4">
      <dxi-item dataField="DIAS_ACUM_9" [label]="{text: 'Acum', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Acum 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
		  <dxi-item dataField="DIAS_PROG_9" [label]="{text: 'Prog', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Prog 1...', showClearButton: false, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="DIAS_DESC_9" [label]="{text: 'Desc', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Desc 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="SALDO_9" [label]="{text: 'Saldo', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: '', showClearButton: false, readOnly: true , format: '#,##0.00'}">
		  </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Octubre"[colCount]="4" [colSpan]="4">
      <dxi-item dataField="DIAS_ACUM_10" [label]="{text: 'Acum', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Acum 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
		  <dxi-item dataField="DIAS_PROG_10" [label]="{text: 'Prog', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Prog 1...', showClearButton: false, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="DIAS_DESC_10" [label]="{text: 'Desc', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Desc 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="SALDO_10" [label]="{text: 'Saldo', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: '', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Noviembre"[colCount]="4" [colSpan]="4">
      <dxi-item dataField="DIAS_ACUM_11" [label]="{text: 'Acum', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Acum 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
		  <dxi-item dataField="DIAS_PROG_11" [label]="{text: 'Prog', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Prog 1...', showClearButton: false, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="DIAS_DESC_11" [label]="{text: 'Desc', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Desc 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="SALDO_11" [label]="{text: 'Saldo', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: '', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Diciembre"[colCount]="4" [colSpan]="4">
      <dxi-item dataField="DIAS_ACUM_12" [label]="{text: 'Acum', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Acum 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
		  <dxi-item dataField="DIAS_PROG_12" [label]="{text: 'Prog', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Prog 1...', showClearButton: false, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="DIAS_DESC_12" [label]="{text: 'Desc', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Dias Desc 1...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
      <dxi-item dataField="SALDO_12" [label]="{text: 'Saldo', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: '', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" caption="Totales"[colCount]="4" [colSpan]="4">
      <dxi-item dataField="TOTAL_ACUM" [label]="{text:'Total Acum.', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Total Acum...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
		  <dxi-item dataField="TOTAL_PROG" [label]="{text:'Total Prog.', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Total Prog...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
		  <dxi-item dataField="TOTAL_DESC" [label]="{text:'Total Desc.', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Total Desc...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
		  <dxi-item dataField="TOTAL_SALDO_ANTERIOR" [label]="{text:'Total Saldo.', location: 'left'}" [colSpan]="1" [editorType]="'dxNumberBox'" [editorOptions]="{ placeholder: ' Total Saldo...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		  </dxi-item>
    </dxi-item>

    <dxi-item [itemType]="'empty'" [colSpan]="1"></dxi-item>
    <dxi-item [itemType]="'empty'" [colSpan]="1"></dxi-item>
		<dxi-item dataField="DIAS_PAGO" [label]="{text: 'Dias Pagados', location: 'left'}" [editorType]="'dxNumberBox'" [colSpan]="1" [editorOptions]="{ placeholder: ' Dias Pago...', showClearButton: false, readOnly: true, format: '#,##0.00' }">
		</dxi-item>
    <dxi-item dataField="TOTAL_SALDO" [label]="{text: 'Saldo Final', location: 'left'}" [editorType]="'dxNumberBox'" [colSpan]="1" [editorOptions]="{readOnly: true, format: '#,##0.00'}">
		</dxi-item>
	</dx-form>
</div>
<dx-data-grid class="content-grid"
	#gData
	[visible]="isBrowse()"
	[dataSource]="models"
	keyExpr="CORR_DETA"
	[columnAutoWidth]="false"
	[showBorders]="true"
	[showColumnLines]="true"
	[showRowLines]="true"
	[rowAlternationEnabled]="true"
	[hoverStateEnabled]="false"
	[allowColumnResizing]="true"
	[columnResizingMode]="'widget'"
	[focusedRowEnabled]="true"
	[height]="450" [width]="'99%'"
	(onRowDblClick)="rowDblClick($event)"
	(onFocusedRowChanged)="focusedRowChanged($event)"
  (onToolbarPreparing)="onToolbarPreparing($event)"
	>
	<dxo-editing mode="cell"
	[refreshMode]="'reshape'"
	[useIcons]="true">
	</dxo-editing>
	<dxo-selection [mode]="'single'"></dxo-selection>
	<dxo-load-panel [enabled]="false"></dxo-load-panel>
	<dxo-search-panel [visible]="false"></dxo-search-panel>
	<dxo-export [enabled]="true" fileName="PlaPlanVacacionEmpleado" [allowExportSelectedData]="true"></dxo-export>
	<dxo-group-panel [visible]="false"></dxo-group-panel>
	<dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
	<dxo-paging [enabled]="false"></dxo-paging>
	<dxo-filter-panel [visible]="false"></dxo-filter-panel>
	<dxo-filter-row [visible]="false" [applyFilter]="'auto'"></dxo-filter-row>
	<dxo-header-filter [visible]="false"></dxo-header-filter>
  <dxi-column>
    <dxi-column dataField="SELECCION" caption=" " [dataType]="'boolean'" [width]="50" [editCellTemplate]="'singleCheckBox'"></dxi-column>
    <dxi-column dataField="ANIO_PERIODO" caption="Año" [allowSorting]="true" [sortOrder]="'desc'" [width]="50"></dxi-column>
    <dxi-column dataField="NOMBRE_ESTADO_PLAN" caption="Estado" [width]="80"></dxi-column>
    <dxi-column dataField="CORR_EMPLEADO" caption="Código" [width]="60"></dxi-column>
    <dxi-column dataField="NOMBRE_EMPLEADO" caption="Empleado" [width]="250"></dxi-column>
    <dxi-column dataField="NOMBRE_DEPARTAMENTO" caption="Departamento" [width]="150"></dxi-column>
    <dxi-column dataField="NOMBRE_CENTRO" caption="Área" [width]="150"></dxi-column>
    <dxi-column dataField="FECHA_INGRESO_EMPLEADO" caption="F.Ingreso" [width]="80" [dataType]="'date'" [format]="'dd/MM/yyyy'"></dxi-column>
    <dxi-column dataField="DIAS_SALDO" caption="Saldo Ini." [width]="60" [format]="'#,##0.00'"></dxi-column>
  </dxi-column>

  <dxi-column dataField="MES_1" caption="Enero" Value="Enero" alignment="center">
    <dxi-column dataField="DIAS_ACUM_1" caption="Acum" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_PROG_1" caption="Prog" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_DESC_1" caption="Desc" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_EFECT_1" caption="Efect" [visible]="false" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="SALDO_1" caption="Saldo" [width]="50" [format]="'#,##0.00'"></dxi-column>
  </dxi-column>

  <dxi-column dataField="MES_2" caption="Febrero" Value="Febrero" alignment="center">
    <dxi-column dataField="DIAS_ACUM_2" caption="Acum" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_PROG_2" caption="Prog" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_DESC_2" caption="Desc" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_EFECT_2" caption="Efect" [visible]="false" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="SALDO_2" caption="Saldo" [width]="50" [format]="'#,##0.00'"></dxi-column>
  </dxi-column>

  <dxi-column dataField="MES_3" caption="Marzo" Value="Marzo" alignment="center">
    <dxi-column dataField="DIAS_ACUM_3" caption="Acum" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_PROG_3" caption="Prog" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_DESC_3" caption="Desc" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_EFECT_3" caption="Efect" [visible]="false" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="SALDO_3" caption="Saldo" [width]="50" [format]="'#,##0.00'"></dxi-column>
  </dxi-column>

  <dxi-column dataField="MES_4" caption="Abril" Value="Abril" alignment="center">
    <dxi-column dataField="DIAS_ACUM_4" caption="Acum" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_PROG_4" caption="Prog" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_DESC_4" caption="Desc" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_EFECT_4" caption="Efect" [visible]="false" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="SALDO_4" caption="Saldo" [width]="50" [format]="'#,##0.00'"></dxi-column>
  </dxi-column>

  <dxi-column dataField="MES_5" caption="Mayo" Value="Mayo" alignment="center">
    <dxi-column dataField="DIAS_ACUM_5" caption="Acum" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_PROG_5" caption="Prog" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_DESC_5" caption="Desc" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_EFECT_5" caption="Efect" [visible]="false" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="SALDO_5" caption="Saldo" [width]="50" [format]="'#,##0.00'"></dxi-column>
  </dxi-column>

  <dxi-column dataField="MES_6" caption="Junio" Value="Junio" alignment="center">
    <dxi-column dataField="DIAS_ACUM_6" caption="Acum" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_PROG_6" caption="Prog" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_DESC_6" caption="Desc" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_EFECT_6" caption="Efect" [visible]="false" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="SALDO_6" caption="Saldo" [width]="50" [format]="'#,##0.00'"></dxi-column>
  </dxi-column>

  <dxi-column dataField="MES_7" caption="Julio" Value="Julio" alignment="center">
    <dxi-column dataField="DIAS_ACUM_7" caption="Acum" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_PROG_7" caption="Prog" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_DESC_7" caption="Desc" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_EFECT_7" caption="Efect" [visible]="false" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="SALDO_7" caption="Saldo" [width]="50" [format]="'#,##0.00'"></dxi-column>
  </dxi-column>

  <dxi-column dataField="MES_8" caption="Agosto" Value="Agosto" alignment="center">
    <dxi-column dataField="DIAS_ACUM_8" caption="Acum" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_PROG_8" caption="Prog" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_DESC_8" caption="Desc" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_EFECT_8" caption="Efect" [visible]="false" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="SALDO_8" caption="Saldo" [width]="50" [format]="'#,##0.00'"></dxi-column>
  </dxi-column>

  <dxi-column dataField="MES_9" caption="Septiembre" Value="Septiembre" alignment="center">
    <dxi-column dataField="DIAS_ACUM_9" caption="Acum" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_PROG_9" caption="Prog" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_DESC_9" caption="Desc" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_EFECT_9" caption="Efect" [visible]="false" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="SALDO_9" caption="Saldo" [width]="50" [format]="'#,##0.00'"></dxi-column>
  </dxi-column>

  <dxi-column dataField="MES_10" caption="Octubre" Value="Octubre" alignment="center">
    <dxi-column dataField="DIAS_ACUM_10" caption="Acum" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_PROG_10" caption="Prog" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_DESC_10" caption="Desc" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_EFECT_10" caption="Efect" [visible]="false" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="SALDO_10" caption="Saldo" [width]="50" [format]="'#,##0.00'"></dxi-column>
  </dxi-column>

  <dxi-column dataField="MES_11" caption="Noviembre" Value="Noviembre" alignment="center">
    <dxi-column dataField="DIAS_ACUM_11" caption="Acum" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_PROG_11" caption="Prog" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_DESC_11" caption="Desc" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_EFECT_11" caption="Efect" [visible]="false" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="SALDO_11" caption="Saldo" [width]="50" [format]="'#,##0.00'"></dxi-column>
  </dxi-column>

  <dxi-column dataField="MES_12" caption="Diciembre" Value="Diciembre" alignment="center">
    <dxi-column dataField="DIAS_ACUM_12" caption="Acum" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_PROG_12" caption="Prog" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_DESC_12" caption="Desc" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_EFECT_12" caption="Efect" [visible]="false" [width]="50" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="SALDO_12" caption="Saldo" [width]="50" [format]="'#,##0.00'"></dxi-column>
  </dxi-column>

  <dxi-column dataField="TOTALES" caption="Total" Value="Total" alignment="center">
    <dxi-column dataField="TOTAL_ACUM" caption="Acum" [width]="60" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="TOTAL_PROG" caption="Prog" [width]="60" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="TOTAL_DESC" caption="Desc" [width]="60" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="TOTAL_EFECT" caption="Efect" [visible]="false" [width]="60" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="DIAS_PAGO" caption="Pago" [width]="60" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="TOTAL_SALDO" caption="Saldo" [width]="60" [format]="'#,##0.00'"></dxi-column>
    <dxi-column dataField="TOTAL_SALDO_ANTERIOR" caption="Saldo Final" [width]="60" [format]="'#,##0.00'" [visible]="false"></dxi-column>
  </dxi-column>

	<dxi-column dataField="USUARIO_CREA" caption="Usuario Crea" [width]="100"></dxi-column>
	<dxi-column dataField="FECHA_CREA" caption="Fecha Crea" [width]="100" [dataType]="'datetime'"></dxi-column>
	<dxi-column dataField="ESTACION_CREA" caption="Estación Crea" [width]="100"></dxi-column>
	<dxi-column dataField="USUARIO_ACTU" caption="Usuario Actu" [width]="100"></dxi-column>
	<dxi-column dataField="FECHA_ACTU" caption="Fecha Actu" [width]="100" [dataType]="'datetime'"></dxi-column>
	<dxi-column dataField="ESTACION_ACTU" caption="Estación Actu" [width]="100"></dxi-column>

	<dxo-summary>
		<dxi-total-item column="CORR_EMPLEADO" summaryType="count" valueFormat="#,##0" displayFormat="Cant: {0}">
		</dxi-total-item>
	</dxo-summary>
  <div *dxTemplate="let cellInfo of 'singleCheckBox'">
    <dx-check-box
      [(value)]="cellInfo.row.data.SELECCION"
      [disabled]="!permiteEdit"
      (onValueChanged)="valueChangedESTADO($event, cellInfo)"
      contentTemplate="contentTemplate">
    </dx-check-box>
  </div>
</dx-data-grid>
<dx-load-panel
	#loadPanel
	shadingColor="rgba(0,0,0,0.4)"
	[position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
	[(visible)]="loadingVisible"
	[showIndicator]="true"
	[showPane]="true"
	[shading]="true"
	(onShown)="loadingVisible">
</dx-load-panel>
