<div class="user-panel">
  <div class="user-info">
    <div class="image-container">
      <div class="user-image">
        <img [src]="urlPhotoUser" alt="Avatar">
      </div>
    </div>
    <div class="user-name">{{nameUser}}</div>
  </div>
  <dx-context-menu
    *ngIf="menuMode === 'context'"
    [items]="menuItems"
    target=".user-button"
    showEvent="dxclick"
    width="210px"
    [position]="{ my: 'bottom', at: 'top' }"
    cssClass="user-menu">
  </dx-context-menu>
  <dx-list
    *ngIf="menuMode === 'list'"
    class="dx-toolbar-menu-action"
    [items]="menuItems">
  </dx-list>
</div>
