<h2 class="content-block">{{tituloVentana}}</h2>
<dx-toolbar class="myToolbar">
  <dxi-item location="before">
    <dx-button class="myButton" text="Nuevo" type="default" (onClick)="nuevo()" [visible]="permiteAdd && isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="before">
    <dx-button class="myButton" text="Solicitar" type="success" (onClick)="Solicitar()" [visible]="permiteAdd && isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="before" >
    <dx-button class="myButton" text="Guardar" type="success" (onClick)="guardar()" [visible]="!isBrowse() && isForm()">
    </dx-button>
  </dxi-item>
  <dxi-item location="before" >
    <dx-button class="myButton" text="Cancelar" type="danger" (onClick)="cancelar()" [visible]="!isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="after" >
    <dx-button icon="refresh"
    [visible]="isBrowse()"
    (onClick)="consultar()">
    </dx-button>
  </dxi-item>
  <dxi-item location="after"  [locateInMenu]="'auto'">
    <dx-date-box [(value)]="param.FECHA_INICIAL"
    [visible]="isBrowse()"
    [useMaskBehavior]= "true"
    type="date"
    displayFormat="dd/MM/yyyy"
    width="100"
    ></dx-date-box>
  </dxi-item>
  <dxi-item location="after"  [locateInMenu]="'auto'">
    <dx-date-box [(value)]="param.FECHA_FINAL"
    [visible]="isBrowse()"
    [useMaskBehavior]= "true"
    type="date"
    displayFormat="dd/MM/yyyy"
    width="100"
    ></dx-date-box>
  </dxi-item>
</dx-toolbar>
<div class="content-block dx-card responsive-paddings" *ngIf="!isBrowse()">
	<dx-form #fData id="form"
	[formData]="model"
	labelLocation="top"
	[colCount]="5"
  (onFieldDataChanged)="fieldDataChanged($event)"
  >
		<dxi-item dataField="CORR_PRESTAMO" [label]="{text: 'Corr.'}" [editorOptions]="{ readOnly: true }">
		</dxi-item>
    <dxi-item dataField="ESTADO_PERMISO" [label]="{text: 'Estado'}" [colSpan]="1" [editorOptions]="{ placeholder: 'Estado Permiso...', showClearButton: true }" [template]="'cbEstadoPermiso'">
      <dxi-validation-rule type="required"  message="El Estado es Obligatorio"> </dxi-validation-rule>
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbEstadoPermiso'">
      <dx-drop-down-box
        #estadoSolicitud
        [(value)]="model.ESTADO_PRESTAMO"
        [valueExpr]="'CODIGO'"
        [displayExpr]="'DESCRIPCION'"
        [deferRendering]="false"
        [placeholder]="'Estado...'"
        [dataSource]="mEstado"
        [showClearButton]="true"
        [readOnly]="true"
        (valueChange)="valueChangedESTADO_PRESTAMO($event)">
        <div *dxTemplate="let dEstadoExpediente of 'content'">
          <dx-data-grid
            #dataEstadoSolicitud
            [dataSource]="mEstado"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedESTADO_PRESTAMO($event.selectedRowKeys)"
            (onRowClick)="rowClickESTADO_PRESTAMO($event, dEstadoExpediente)"
            [height]="'100%'"
            [width]="'100%'">
              <dxi-column dataField="CODIGO" caption="Código." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="DESCRIPCION" caption="Estado" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
    <dxi-item dataField="CORR_EMPLEADO" [label]="{text: 'Colaborador'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Colaborador ...', showClearButton: true }" [template]="'cbEmpleado'">
      <dxi-validation-rule type="required"  message="El Colaborador es Obligatorio"> </dxi-validation-rule>
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbEmpleado'">
      <dx-drop-down-box
        #corrEmpleado
        [(value)]="model.CORR_EMPLEADO"
        [valueExpr]="'CORR_EMPLEADO'"
        [displayExpr]="'NOMBRE_EMPLEADO'"
        [deferRendering]="false"
        [placeholder]="'Seleccione una opción...'"
        [dataSource]="mEmpleado"
        [showClearButton]="true"
        [readOnly]="true"
        (onValueChanged)="valueChangedCORR_EMPLEADO($event)"
      >
        <div *dxTemplate="let data of 'content'">
          <dx-data-grid
            #dataEmpleado
            [dataSource]="mEmpleado"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedCORR_EMPLEADO($event.selectedRowKeys)"
            (onRowClick)="rowClickCORR_EMPLEADO($event, data)"
            [height]="'100%'"
            [width]="'100%'"
          >
            <dxi-column dataField="CORR_EMPLEADO" caption="Corr." [width]="'0%'" [visible]="false"></dxi-column>
            <dxi-column dataField="NOMBRE_EMPLEADO" caption="Empleado" [width]="'100%'"></dxi-column>
            <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
    <dxi-item dataField="FECHA_SOLICITUD" [label]="{text: 'Fecha Solicitud'}" [editorType]="'dxDateBox'" [colSpan]="1" [editorOptions]="{ placeholder: ' Fecha Solicitud...', displayFormat:'dd/MM/yyyy', readOnly: true }">
      <dxi-validation-rule type="required"  message="Fecha es Obligatorio"> </dxi-validation-rule>
		</dxi-item>
      <dxi-item dataField="CORR_RUBRO_PRESTAMO" [label]="{text: 'Tipo de Préstamo'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Tipo de Prestamo...', showClearButton: true }" [template]="'cbRubroPrestamo'">
        <dxi-validation-rule type="required"  message="El tipo es Obligatorio"> </dxi-validation-rule>
      </dxi-item>
      <div *dxTemplate="let cellInfo of 'cbRubroPrestamo'">
        <dx-drop-down-box
          #corrRubro
          [(value)]="model.CORR_RUBRO_PRESTAMO"
          [valueExpr]="'CORR_RUBRO'"
          [displayExpr]="'NOMBRE_RUBRO'"
          [deferRendering]="false"
          [placeholder]="'Seleccione una opción...'"
          [dataSource]="mRubro"
          [showClearButton]="true"
          [readOnly]="bloqLookups"
          (onValueChanged)="valueChangedCORR_RUBRO_PRESTAMO($event)"
        >
          <div *dxTemplate="let data of 'content'">
            <dx-data-grid
              #dataRubro
              [dataSource]="mRubro"
              [columnAutoWidth]="true"
              [selection]="{ mode: 'single' }"
              [hoverStateEnabled]="true"
              [paging]="{ enabled: true, pageSize: 10 }"
              [filterRow]="{ visible: true }"
              [scrolling]="{ mode: 'infinite' }"
              [filterSyncEnabled]="true"
              (onSelectionChanged)="selectionChangedCORR_RUBRO_PRESTAMO($event.selectedRowKeys)"
              (onRowClick)="rowClickCORR_RUBRO_PRESTAMO($event, data)"
              [height]="'100%'"
              [width]="'100%'"
            >
              <dxi-column dataField="CORR_RUBRO" caption="Corr." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="NOMBRE_RUBRO" caption="Rubro" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
            </dx-data-grid>
          </div>
        </dx-drop-down-box>
      </div>
      <dxi-item dataField="MONTO_PRESTAMO" [label]="{text: 'Monto Préstamo'}" [editorType]="'dxNumberBox'" [colSpan]="1" [editorOptions]="{ placeholder: ' Monto Prestamo...', format: '#,##0.00' }">
        <dxi-validation-rule type="required"  message="Monto Prestamo es Obligatorio"> </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="NUMERO_CUOTAS" [label]="{text: 'Cuotas'}" [editorType]="'dxNumberBox'" [colSpan]="1" [editorOptions]="{ placeholder: 'Cuotas...',  format: '#,##0', readOnly: true }">
        <dxi-validation-rule type="required"  message="Monto Cuota es Obligatorio"> </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="MONTO_CUOTA" [label]="{text: 'Monto Cuota'}" [editorType]="'dxNumberBox'" [colSpan]="1" [editorOptions]="{ placeholder: 'Monto Cuota...',  format: '#,##0.00', readOnly: true }">
        <dxi-validation-rule type="required"  message="Monto Cuota es Obligatorio"> </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="CORR_PERIODICIDAD" [label]="{text: 'Periodicidad'}" [colSpan]="1" [editorOptions]="{ placeholder: 'Periodicidad...', showClearButton: true }" [template]="'cbPeriodicidad'">
        <dxi-validation-rule type="required"  message="Periodicidad es Obligatorio"> </dxi-validation-rule>
      </dxi-item>
      <div *dxTemplate="let cellInfo of 'cbPeriodicidad'">
        <dx-drop-down-box
          #corrPeriodicidad
          [(value)]="model.CORR_PERIODICIDAD"
          [valueExpr]="'CORR_PERIODICIDAD'"
          [displayExpr]="'NOMBRE_PERIODICIDAD'"
          [deferRendering]="false"
          [placeholder]="'Seleccione una opción...'"
          [dataSource]="mPeriodicidad"
          [showClearButton]="true"
          [readOnly]="true"
          (onValueChanged)="valueChangedCORR_PERIODICIDAD($event)"
        >
          <div *dxTemplate="let data of 'content'">
            <dx-data-grid
              #dataPeriodicidad
              [dataSource]="mPeriodicidad"
              [columnAutoWidth]="true"
              [selection]="{ mode: 'single' }"
              [hoverStateEnabled]="true"
              [paging]="{ enabled: true, pageSize: 10 }"
              [filterRow]="{ visible: true }"
              [scrolling]="{ mode: 'infinite' }"
              [filterSyncEnabled]="true"
              (onSelectionChanged)="selectionChangedCORR_PERIODICIDAD($event.selectedRowKeys)"
              (onRowClick)="rowClickCORR_PERIODICIDAD($event, data)"
              [height]="'100%'"
              [width]="'100%'"
            >
              <dxi-column dataField="CORR_PERIODICIDAD" caption="Corr." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="NOMBRE_PERIODICIDAD" caption="Empleado" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
            </dx-data-grid>
          </div>
        </dx-drop-down-box>
      </div>
      <dxi-item dataField="OBSERVACIONES" [label]="{text: 'Observaciones'}" [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ placeholder: ' Observaciones...', showClearButton: true }">
      </dxi-item>
	</dx-form>
</div>
<dx-data-grid class="content-grid"
	#gData
	[visible]="isBrowse()"
	[dataSource]="models"
	keyExpr="CORR_PRESTAMO"
	[columnAutoWidth]="false"
	[showBorders]="true"
	[showColumnLines]="true"
	[showRowLines]="true"
	[rowAlternationEnabled]="true"
	[hoverStateEnabled]="false"
	[allowColumnResizing]="true"
	[columnResizingMode]="'widget'"
	[focusedRowEnabled]="true"
	[height]="450" [width]="'99%'"
	(onRowRemoving)="rowRemoving($event)"
	(onRowDblClick)="rowDblClick($event)"
	(onFocusedRowChanged)="focusedRowChanged($event)"
>
	<dxo-editing mode="row"
	[refreshMode]="'reshape'"
	[allowDeleting]="true"
	[useIcons]="true">
	</dxo-editing>
	<dxo-selection [mode]="'single'"></dxo-selection>
	<dxo-load-panel [enabled]="false"></dxo-load-panel>
	<dxo-search-panel [visible]="true"></dxo-search-panel>
	<dxo-export [enabled]="true" fileName="PlaSoliPrestamo" [allowExportSelectedData]="true"></dxo-export>
	<dxo-group-panel [visible]="true"></dxo-group-panel>
	<dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
	<dxo-paging [enabled]="false"></dxo-paging>
	<dxo-filter-panel [visible]="true"></dxo-filter-panel>
	<dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
	<dxo-header-filter [visible]="true"></dxo-header-filter>

	<dxi-column type="buttons" [width]="75">
		<dxi-button hint="Editar Registro" icon="edit" [visible]="getPermiteEditar" [onClick]="editarClick"></dxi-button>
		<dxi-button name="delete" [visible]="getPermiteDele"></dxi-button>
	</dxi-column>
	<dxi-column dataField="CORR_EMPLEADO" caption="Corr Empleado" [width]="85"  [visible]="false"></dxi-column>
  <dxi-column dataField="CORR_PRESTAMO" caption="Corr." [width]="85" [visible]="true"></dxi-column>
  <dxi-column dataField="ESTADO_PRESTAMO" caption="Estado Préstamo" [width]="100" [visible]="false"></dxi-column>
	<dxi-column dataField="NOMBRE_ESTADO_PRESTAMO" caption="Estado" [width]="100"></dxi-column>
  <dxi-column dataField="FECHA_SOLICITUD" caption="Fecha Solicitud" [width]="125" [dataType]="'date'" [format]="'dd/MM/yyyy'"></dxi-column>
  <dxi-column dataField="NOMBRE_EMPLEADO" caption="Empleado" [width]="250"></dxi-column>
  <dxi-column dataField="MONTO_PRESTAMO" caption="Monto Préstamo" [width]="125" [format]="'#,##0.00'"></dxi-column>
	<dxi-column dataField="NUMERO_CUOTAS" caption="Cuotas" [width]="85" [format]="'#,##0'"></dxi-column>
  <dxi-column dataField="MONTO_CUOTA" caption="Monto Cuota" [width]="115" [format]="'#,##0.00'"></dxi-column>
  <dxi-column dataField="CORR_PERIODICIDAD" caption="Corr Periodicidad" [width]="85"  [visible]="false"></dxi-column>
  <dxi-column dataField="NOMBRE_PERIODICIDAD" caption="Periodicidad" [width]="100"></dxi-column>
  <dxi-column dataField="NOMBRE_RUBRO" caption="Tipo de Prestamo" [width]="150"></dxi-column>
	<dxi-column dataField="CORR_MONEDA" caption="Corr Moneda" [width]="85" [visible]="false" [visible]="false"></dxi-column>
	<dxi-column dataField="NOMBRE_MONEDA" caption="Moneda" [width]="125" [visible]="false"></dxi-column>
  <dxi-column dataField="OBSERVACIONES" caption="Observaciones" [width]="250"></dxi-column>
	<dxi-column dataField="CORR_RUBRO_PRESTAMO" caption="Corr Rubro Prestamo" [width]="85"  [visible]="false"></dxi-column>
	<dxi-column dataField="USUARIO_SOLICITA" caption="Solicita" [width]="200"></dxi-column>
	<dxi-column dataField="USUARIO_AUTORIZA" caption="Autoriza" [width]="200"></dxi-column>
	<dxi-column dataField="USUARIO_CREA" caption="Usuario Crea" [width]="100"></dxi-column>
	<dxi-column dataField="FECHA_CREA" caption="Fecha Crea" [width]="125" [dataType]="'datetime'"></dxi-column>
	<dxi-column dataField="ESTACION_CREA" caption="Estación Crea" [width]="100"></dxi-column>
	<dxi-column dataField="USUARIO_ACTU" caption="Usuario Actu" [width]="100"></dxi-column>
	<dxi-column dataField="FECHA_ACTU" caption="Fecha Actu" [width]="125" [dataType]="'datetime'"></dxi-column>
	<dxi-column dataField="ESTACION_ACTU" caption="Estación Actu" [width]="100"></dxi-column>
	<dxi-column dataField="CORR_RUBRO_FIJO" caption="Corr Rubro Fijo" [width]="85"  [visible]="false"></dxi-column>
	<dxo-summary>
		<dxi-total-item column="CORR_PRESTAMO" summaryType="count" valueFormat="#,##0" displayFormat="Cant: {0}">
		</dxi-total-item>
    <dxi-total-item name="montoPrestamoSummary" column="MONTO_PRESTAMO" summaryType="sum" valueFormat="#,##0.00" displayFormat="Total: {0}">
    </dxi-total-item>
    <dxi-total-item name="montoCuotaSummary" column="MONTO_CUOTA" summaryType="sum" valueFormat="#,##0.00" displayFormat="Total: {0}">
    </dxi-total-item>
	</dxo-summary>
</dx-data-grid>
<dx-load-panel
	#loadPanel
	shadingColor="rgba(0,0,0,0.4)"
	[position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
	[(visible)]="loadingVisible"
	[showIndicator]="true"
	[showPane]="true"
	[shading]="true"
	(onShown)="loadingVisible">
</dx-load-panel>
