<form class="login-form" (submit)="onSubmit($event)">
  <dx-form [formData]="formData" [disabled]="loading" [colCount]="4">
    <dxi-item [colSpan]="4">
      <img class="logo-img" src="assets/img/logo-xx.png" alt="logo" width="250" height="90">
    </dxi-item>
    <dxi-item itemType="empty" [colSpan]="4"></dxi-item>
    <dxi-item dataField="usuario" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Usuario' }" [colSpan]="4">
      <dxi-validation-rule type="required" message="El Usuario"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="password" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'Clave', mode: 'password' }" [colSpan]="4">
      <dxi-validation-rule type="required" message="La Clave es requerida"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item itemType="button" [colSpan]="4">
      <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'signInTemplate'">
      </dxo-button-options>
    </dxi-item>

    <ng-container *dxTemplate="let item of 'signInTemplate'">
      <span class="dx-button-text">
        <ng-container *ngIf="loading; else notLoading">
          <dx-load-indicator width="24px" height="24px" [visible]="true"></dx-load-indicator>
        </ng-container>
        <ng-template #notLoading>Iniciar Sesión</ng-template>
      </span>
    </ng-container>

  </dx-form>
</form>
