<h2 class="content-block">{{tituloVentana}}</h2>
<dx-toolbar class="myToolbar">
  <dxi-item location="before">
    <dx-button class="myButton" text="Autorizar" type="success" (onClick)="autorizar()" [visible]="true">
    </dx-button>
  </dxi-item>
  <dxi-item location="before">
    <dx-button class="myButton" text="Denegar" type="danger" (onClick)="rechazar()" [visible]="true">
    </dx-button>
  </dxi-item>
  <dxi-item location="before" >
    <dx-button class="myButton" text="Cancelar" type="normal" (onClick)="cancelar()" [visible]="!isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="after" >
    <dx-button icon="refresh"
    [visible]="isBrowse()"
    (onClick)="consultar()">
    </dx-button>
  </dxi-item>
  <dxi-item location="after"  [locateInMenu]="'auto'">
    <dx-date-box [(value)]="param.FECHA_INICIAL"
    [visible]="isBrowse()"
    [useMaskBehavior]= "true"
    type="date"
    displayFormat="dd/MM/yyyy"
    width="100"
    ></dx-date-box>
  </dxi-item>
  <dxi-item location="after"  [locateInMenu]="'auto'">
    <dx-date-box [(value)]="param.FECHA_FINAL"
    [visible]="isBrowse()"
    [useMaskBehavior]= "true"
    type="date"
    displayFormat="dd/MM/yyyy"
    width="100"
    ></dx-date-box>
  </dxi-item>
</dx-toolbar>
<div class="content-block dx-card responsive-paddings" *ngIf="!isBrowse()">
	<dx-form #fData id="form"
	[formData]="model"
	labelLocation="top"
	[colCount]="4">
		<dxi-item dataField="CORR_SOLI_VACACION" [label]="{text: 'Corr.'}" [editorOptions]="{ readOnly: true }">
		</dxi-item>
    <dxi-item dataField="CORR_EMPLEADO" [label]="{text: 'Colaborador'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Colaborador...' }" [template]="'cbEmpleado'">
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbEmpleado'">
      <dx-drop-down-box
        #corrEmpleado
        [(value)]="model.CORR_EMPLEADO"
        [valueExpr]="'CORR_EMPLEADO'"
        [displayExpr]="'NOMBRE_EMPLEADO'"
        [deferRendering]="false"
        [placeholder]="'Estado...'"
        [dataSource]="mEmpleado"
        [showClearButton]="true"
        [readOnly]="bloqLookups"
        (valueChange)="valueChangedCORR_EMPLEADO($event)">
        <div *dxTemplate="let dEmpleado of 'content'">
          <dx-data-grid
            #dataEmpleado
            [dataSource]="mEmpleado"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedCORR_EMPLEADO($event.selectedRowKeys)"
            (onRowClick)="rowClickCORR_EMPLEADO($event, dEmpleado)"
            [height]="'100%'"
            [width]="'100%'">
              <dxi-column dataField="CORR_EMPLEADO" caption="Corr." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="NOMBRE_EMPLEADO" caption="Empleado" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
		<dxi-item dataField="FECHA_SOLICITUD" [label]="{text: 'Fecha Solicitud'}" [editorType]="'dxDateBox'" [colSpan]="1" [editorOptions]="{ placeholder: ' Fecha Solicitud...', displayFormat:'dd/MM/yyyy' }">
      <dxi-validation-rule type="required"  message="La Fecha Solicitud es obligatoria"> </dxi-validation-rule>
    </dxi-item>

    <dxi-item dataField="ESTADO_SOLICITUD" [label]="{text: 'Estado'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Estado Solicitud...' }" [template]="'cbEstado'">
		</dxi-item>
    <div *dxTemplate="let cellInfo of 'cbEstado'">
      <dx-drop-down-box
        #corrEstado
        [(value)]="model.ESTADO_SOLICITUD"
        [valueExpr]="'CODIGO'"
        [displayExpr]="'DESCRIPCION'"
        [deferRendering]="false"
        [placeholder]="'Estado...'"
        [dataSource]="mEstado"
        [showClearButton]="true"
        [readOnly]="bloqLookups"
        (valueChange)="valueChangedESTADO_SOLICITUD($event)">
        <div *dxTemplate="let dEstadoSolicitud of 'content'">
          <dx-data-grid
            #dataEstado
            [dataSource]="mEstado"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedESTADO_SOLICITUD($event.selectedRowKeys)"
            (onRowClick)="rowClickESTADO_SOLICITUD($event, dEstadoSolicitud)"
            [height]="'100%'"
            [width]="'100%'">
              <dxi-column dataField="CODIGO" caption="Código." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="DESCRIPCION" caption="Estado" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
		<dxi-item dataField="FECHA_INICIA_VACACION" [label]="{text: 'Fecha Inicia Vacación'}" [editorType]="'dxDateBox'" [colSpan]="1" [editorOptions]="{ placeholder: ' Fecha Inicia Vacación...', displayFormat:'dd/MM/yyyy'}">
      <dxi-validation-rule type="required"  message="La Fecha Inicia Vacación es obligatoria"> </dxi-validation-rule>
    </dxi-item>
		<dxi-item dataField="FECHA_FINAL_VACACION" [label]="{text: 'Fecha Final Vacación'}" [editorType]="'dxDateBox'" [colSpan]="1" [editorOptions]="{ placeholder: ' Fecha Final Vacación...', displayFormat:'dd/MM/yyyy'}">
      <dxi-validation-rule type="required"  message="La Fecha Final Vacación es obligatoria"> </dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="DIAS_GOZAR" [label]="{text: 'Días Gozar'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Días Gozar...',  readOnly: true }" >
		</dxi-item>

    <dxi-item dataField="FECHA_INICIA_LABORES" [label]="{text: 'Fecha Inicia Labores'}" [editorType]="'dxDateBox'" [colSpan]="1" [editorOptions]="{ placeholder: ' Fecha Inicia Labores...', displayFormat:'dd/MM/yyyy'}">
      <dxi-validation-rule type="required"  message="La Fecha Inicio Labores es obligatoria"> </dxi-validation-rule>
    </dxi-item>
		<dxi-item dataField="OBSERVACIONES" [label]="{text: 'Observaciones'}" [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ placeholder: ' Observaciones...' }">
		</dxi-item>
		<dxi-item dataField="FECHA_APROBADA" [visible]="mostrarFechaAprobacion" [label]="{text: 'Fecha Aprobada'}" [colSpan]="1" [editorType]="'dxDateBox'" [editorOptions]="{ placeholder: ' Fecha Aprobada...', displayFormat:'dd/MM/yyyy' }">
		</dxi-item>

	</dx-form>
</div>
<dx-data-grid class="content-grid"
	#gData
	[visible]="isBrowse()"
	[dataSource]="models"
	[keyExpr]="['CORR_EMPLEADO','CORR_SOLI_VACACION']"
	[columnAutoWidth]="false"
	[showBorders]="true"
	[showColumnLines]="true"
	[showRowLines]="true"
	[rowAlternationEnabled]="true"
	[hoverStateEnabled]="false"
	[allowColumnResizing]="true"
	[columnResizingMode]="'widget'"
	[focusedRowEnabled]="true"
  [height]="450" [width]="'99%'"
	(onRowDblClick)="rowDblClick($event)"
	(onFocusedRowChanged)="focusedRowChanged($event)"
	>
	<dxo-editing mode="row"
	[refreshMode]="'reshape'"

	[useIcons]="true">
	</dxo-editing>
	<dxo-selection [mode]="'single'"></dxo-selection>
	<dxo-load-panel [enabled]="false"></dxo-load-panel>
	<dxo-search-panel [visible]="true"></dxo-search-panel>
	<dxo-export [enabled]="true" fileName="PlaSolicitudVacacion" [allowExportSelectedData]="true"></dxo-export>
	<dxo-group-panel [visible]="true"></dxo-group-panel>
	<dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
	<dxo-paging [enabled]="false"></dxo-paging>
	<dxo-filter-panel [visible]="true"></dxo-filter-panel>
	<dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
	<dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-scrolling [mode]="'virtual'"></dxo-scrolling>
	<dxi-column dataField="CORR_SOLI_VACACION" caption="Corr." [allowSorting]="true" [sortOrder]="'desc'" [width]="85"></dxi-column>
	<dxi-column dataField="NOMBRE_ESTADO_SOLICITUD" caption="Estado" [width]="100"></dxi-column>
	<dxi-column dataField="NOMBRE_EMPLEADO" caption="Colaborador" [width]="250"></dxi-column>
  <dxi-column dataField="FECHA_SOLICITUD" caption="Fecha Solicitud" [width]="110" [dataType]="'date'" [format]="'dd/MM/yyyy'"></dxi-column>
  <dxi-column [visible]="false" dataField="CORR_EMPLEADO" caption="Corr Empleado" [width]="85"  [visible]="false"></dxi-column>
	<dxi-column dataField="FECHA_INICIA_VACACION" caption="Fecha Inicia Vacación" [width]="120" [dataType]="'date'" [format]="'dd/MM/yyyy'"></dxi-column>
	<dxi-column dataField="FECHA_FINAL_VACACION" caption="Fecha Final Vacación" [width]="120" [dataType]="'date'" [format]="'dd/MM/yyyy'"></dxi-column>
	<dxi-column dataField="DIAS_GOZAR" caption="Días Gozar" [width]="100"></dxi-column>
	<dxi-column dataField="FECHA_INICIA_LABORES" caption="Fecha Inicia Labores" [width]="120" [dataType]="'date'" [format]="'dd/MM/yyyy'"></dxi-column>
	<dxi-column dataField="OBSERVACIONES" caption="Observaciones" [width]="200"></dxi-column>
	<dxi-column [visible]="false" dataField="DIAS_VACACION" caption="Días Vacación" [width]="120"></dxi-column>
	<dxi-column [visible]="false" dataField="DIAS_PAGO" caption="Días Pago" [width]="100"></dxi-column>
	<dxi-column [visible]="false" dataField="FECHA_APROBADA" caption="Fecha Aprobada" [width]="100" [dataType]="'date'"></dxi-column>
	<dxi-column [visible]="false" dataField="CORR_MONEDA" caption="Corr Moneda" [width]="85"></dxi-column>
	<dxi-column [visible]="false" dataField="NOMBRE_MONEDA" caption="Nombre Moneda" [width]="250"></dxi-column>
	<dxi-column [visible]="false" dataField="SIMBOLO" caption="Simbolo" [width]="100"></dxi-column>
	<dxi-column [visible]="false" dataField="FECHA_CALCULO_VACACION" caption="Fecha Calculo Vacación" [width]="100" [dataType]="'date'"  [format]="'dd/MM/yyyy'"></dxi-column>
  <dxi-column dataField="USUARIO_CREA" caption="Usuario Crea" [width]="100"></dxi-column>
	<dxi-column dataField="FECHA_CREA" caption="Fecha Crea" [width]="140" [dataType]="'datetime'"></dxi-column>
  <dxi-column dataField="ESTACION_CREA" caption="Estación Crea" [width]="100"></dxi-column>
	<dxi-column dataField="USUARIO_ACTU" caption="Usuario Actu" [width]="100"></dxi-column>
	<dxi-column dataField="FECHA_ACTU" caption="Fecha Actu" [width]="140" [dataType]="'datetime'"></dxi-column>
	<dxi-column dataField="ESTACION_ACTU" caption="Estación Actu" [width]="100"></dxi-column>
  <dxo-summary>
		<dxi-total-item column="CORR_SOLI_VACACION" summaryType="count" valueFormat="#,##0" displayFormat="Cant: {0}">
		</dxi-total-item>
	</dxo-summary>
</dx-data-grid>
<dx-load-panel
	#loadPanel
	shadingColor="rgba(0,0,0,0.4)"
	[position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
	[(visible)]="loadingVisible"
	[showIndicator]="true"
	[showPane]="true"
	[shading]="true"
	(onShown)="loadingVisible">
</dx-load-panel>
