<h2 class="content-block">{{tituloVentana}}</h2>
<div class="content-block">
	<dx-button class="myButton" text="Nuevo" type="default" (onClick)="nuevo()" [visible]="permiteAdd && isBrowse()">
	</dx-button>
	<dx-button class="myButton" text="Guardar" type="success" (onClick)="guardar()" [visible]="!isBrowse() && isForm()">
	</dx-button>
	<dx-button class="myButton" text="Cancelar" type="danger" (onClick)="cancelar()" [visible]="!isBrowse()">
	</dx-button>
</div>
<div class="content-block dx-card responsive-paddings" *ngIf="!isBrowse()">
	<dx-form #fData id="form"
	[formData]="model"
	labelLocation="top"
	[colCount]="4">
		<dxi-item dataField="CORR_PROVEEDOR" [label]="{text: 'Corr.'}" [editorOptions]="{ readOnly: true }">
		</dxi-item>
		<dxi-item dataField="NOMBRE_PROVEEDOR" [label]="{text: 'Nombre Proveedor'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Nombre Proveedor...', showClearButton: true }">
		</dxi-item>
		<dxi-item dataField="TELEFONO_PROVEEDOR" [label]="{text: 'Telefono Proveedor'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Telefono Proveedor...', showClearButton: true }">
		</dxi-item>
		<dxi-item dataField="DIRECCION_PROVEEDOR" [label]="{text: 'Direccion Proveedor'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Direccion Proveedor...', showClearButton: true }">
		</dxi-item>
	</dx-form>
</div>
<dx-data-grid class="content-grid"
	#gData
	[visible]="isBrowse()"
	[dataSource]="models"
	keyExpr="CORR_PROVEEDOR"
	[columnAutoWidth]="false"
	[showBorders]="true"
	[showColumnLines]="true"
	[showRowLines]="true"
	[rowAlternationEnabled]="true"
	[hoverStateEnabled]="false"
	[allowColumnResizing]="true"
	[columnResizingMode]="'widget'"
	[focusedRowEnabled]="true"
	[height]="'100%'" [width]="'100%'"
	(onRowRemoving)="rowRemoving($event)"
	(onRowDblClick)="rowDblClick($event)"
	(onFocusedRowChanged)="focusedRowChanged($event)"
	>
	<dxo-editing mode="row"
	[refreshMode]="'reshape'"
	[allowDeleting]="true"
	[useIcons]="true">
	</dxo-editing>
	<dxo-selection [mode]="'single'"></dxo-selection>
	<dxo-load-panel [enabled]="false"></dxo-load-panel>
	<dxo-search-panel [visible]="true"></dxo-search-panel>
	<dxo-export [enabled]="true" fileName="PosProveedor" [allowExportSelectedData]="true"></dxo-export>
	<dxo-group-panel [visible]="true"></dxo-group-panel>
	<dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
	<dxo-paging [enabled]="false"></dxo-paging>
	<dxo-filter-panel [visible]="true"></dxo-filter-panel>
	<dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
	<dxo-header-filter [visible]="true"></dxo-header-filter>
	
	<dxi-column type="buttons" [width]="85">
		<dxi-button hint="Editar Registro" icon="edit" [visible]="getPermiteEditar" [onClick]="editarClick"></dxi-button>
		<dxi-button name="delete" [visible]="getPermiteDele"></dxi-button>
	</dxi-column>
	<dxi-column dataField="CORR_PROVEEDOR" caption="Corr." [width]="85"></dxi-column>
	<dxi-column dataField="NOMBRE_PROVEEDOR" caption="Nombre Proveedor" [width]="250"></dxi-column>
	<dxi-column dataField="TELEFONO_PROVEEDOR" caption="Telefono Proveedor" [width]="100"></dxi-column>
	<dxi-column dataField="DIRECCION_PROVEEDOR" caption="Direccion Proveedor" [width]="100"></dxi-column>
	<dxo-summary>
		<dxi-total-item column="CORR_PROVEEDOR" summaryType="count" valueFormat="#,##0" displayFormat="Cant: {0}">
		</dxi-total-item>
	</dxo-summary>
</dx-data-grid>
<dx-load-panel
	#loadPanel
	shadingColor="rgba(0,0,0,0.4)"
	[position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
	[(visible)]="loadingVisible"
	[showIndicator]="true"
	[showPane]="true"
	[shading]="true"
	(onShown)="loadingVisible">
</dx-load-panel>