::ng-deep #tabs {
  margin-top: 20px;
}
::ng-deep .tabpanel-item {
  height: 200px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 25px;
  padding-top: 55px;
}
::ng-deep .mobile .tabpanel-item {
  padding-top: 10px;
}
::ng-deep .tabpanel-item  > div {
  float: left;
  padding: 0 85px 10px 10px
}
::ng-deep .tabpanel-item  p {
  font-size: 16px;
  margin: 0;
}
::ng-deep .item-box {
  font-size: 16px;
  margin: 15px 0 45px 10px;
}
::ng-deep .options {
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  margin-top: 20px;
}
::ng-deep .caption {
  font-size: 18px;
  font-weight: 500;
}
::ng-deep .option {
  margin-top: 10px;
}
