<h2 class="content-block">{{ tituloVentana }}</h2>
<div class="content-block">
  <dx-button
    class="myButton"
    text="Nuevo"
    type="default"
    (onClick)="nuevo()"
    [visible]="permiteAdd && isBrowse()"
  >
  </dx-button>
  <dx-button
    class="myButton"
    text="Guardar"
    type="success"
    (onClick)="guardar()"
    [visible]="!isBrowse() && isForm()"
  >
  </dx-button>
  <dx-button
    class="myButton"
    text="Cancelar"
    type="danger"
    (onClick)="cancelar()"
    [visible]="!isBrowse()"
  >
  </dx-button>
  <dx-button
    class="myButton"
    text="Reasignar"
    type="normal"
    (onClick)="mostrarPopup()"
    [visible]="permiteAdd && isBrowse()"
  >
  </dx-button>
</div>
<div>


  <dx-popup
        [width]="300"
        [height]="280"
        [showTitle]="true"
        title="Reasignar Clave"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [showCloseButton]="false"
        container=".dx-viewport"
        [(visible)]="popupVisible">
        <dxi-item
        dataField="cambiarClave.CLAVE_USUARIO_NUEVA"
        [label]="{ text: 'Nombre Usuario' }"
        [colSpan]="1"
        [editorOptions]="{
          placeholder: ' Nombre Usuario...',
          showClearButton: true
      }"
        >

        </dxi-item>
    </dx-popup>



</div>
<div class="content-block dx-card responsive-paddings" *ngIf="!isBrowse()">
  <dx-form
    #fData
    id="form"
    [formData]="model"
    labelLocation="top"
    [colCount]="4"
  >
    <dxi-item
      dataField="LOGIN_SISTEMA"
      [label]="{ text: 'Login' }"
      [editorOptions]="{ readOnly: false }"
    >
      <dxi-validation-rule
        type="required"
        message="Login es Obligatorio"
      >
      </dxi-validation-rule>
    </dxi-item>
    <dxi-item
      dataField="NOMBRE_USUARIO"
      [label]="{ text: 'Nombre Usuario' }"
      [colSpan]="2"
      [editorOptions]="{
        placeholder: ' Nombre Usuario...',
        showClearButton: true
      }"
    >
      <dxi-validation-rule
        type="required"
        message="Nombre Usuario es Obligatorio"
      >
      </dxi-validation-rule>
    </dxi-item>
    <dxi-item
      dataField="CORREO_ELECTRONICO"
      [label]="{ text: 'Correo Electronico' }"
      [colSpan]="1"
      [editorOptions]="{
        placeholder: ' Correo Electronico...',
        showClearButton: true
      }"
    >
    </dxi-item>
    <dxi-item
      dataField="TIPO_USUARIO"
      [label]="{ text: 'Tipo Usuario' }"
      [colSpan]="1"
      [editorOptions]="{
        placeholder: ' Tipo Usuario...',
        showClearButton: true
      }"
      [template]="'cbTipoUSuario'"
    >
      <dxi-validation-rule
        type="required"
        message="Tipo Usuario es Obligatorio"
      >
      </dxi-validation-rule>
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbTipoUSuario'">
      <dx-drop-down-box
        #tipoUsuario
        [(value)]="model.TIPO_USUARIO"
        [valueExpr]="'CODIGO'"
        [displayExpr]="'DESCRIPCION'"
        [deferRendering]="false"
        [placeholder]="'Tipo USuario..'"
        [dataSource]="mTipoUsuario"
        [showClearButton]="true"
        (valueChange)="valueChangeTIPO_USUARIO($event)"
      >
        <div *dxTemplate="let dTipoUsuario of 'content'">
          <dx-data-grid
            #dataTipoUsuario
            [dataSource]="mTipoUsuario"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="
              selectionChangedTIPO_USUARIO($event.selectedRowKeys)
            "
            (onRowClick)="rowClickTIPO_USUARIO($event, dTipoUsuario)"
            [height]="'100%'"
            [width]="'100%'"
          >
            <dxi-column
              dataField="CODIGO"
              caption="Código."
              [width]="'0%'"
              [visible]="false"
            ></dxi-column>
            <dxi-column
              dataField="DESCRIPCION"
              caption="Tipo"
              [width]="'100%'"
            ></dxi-column>
            <dxo-filter-row
              [visible]="true"
              [applyFilter]="'auto'"
            ></dxo-filter-row>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
    <dxi-item
      dataField="ESTADO_USUARIO"
      [label]="{ text: 'Estado Usuario' }"
      [colSpan]="1"
      [editorOptions]="{
        placeholder: ' Estado Usuario...',
        showClearButton: true
      }"
      [template]="'cbEstadoUSuario'"
    >
      <dxi-validation-rule
        type="required"
        message="Estado Usuario es Obligatorio"
      >
      </dxi-validation-rule>
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbEstadoUSuario'">
      <dx-drop-down-box
        #estadoUsuario
        [(value)]="model.ESTADO_USUARIO"
        [valueExpr]="'CODIGO'"
        [displayExpr]="'DESCRIPCION'"
        [deferRendering]="false"
        [placeholder]="'Estado Usuario...'"
        [dataSource]="mEstadoUsuario"
        [showClearButton]="true"
        (valueChange)="valueChangeESTADO_USUARIO($event)"
      >
        <div *dxTemplate="let dEstadoUsuario of 'content'">
          <dx-data-grid
            #dataEstadoUsuario
            [dataSource]="mEstadoUsuario"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="
              selectionChangedESTADO_USUARIO($event.selectedRowKeys)
            "
            (onRowClick)="rowClickESTADO_USUARIO($event, dEstadoUsuario)"
            [height]="'100%'"
            [width]="'100%'"
          >
            <dxi-column
              dataField="CODIGO"
              caption="Código."
              [width]="'0%'"
              [visible]="false"
            ></dxi-column>
            <dxi-column
              dataField="DESCRIPCION"
              caption="Estado"
              [width]="'100%'"
            ></dxi-column>
            <dxo-filter-row
              [visible]="true"
              [applyFilter]="'auto'"
            ></dxo-filter-row>
            <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
  </dx-form>
  <div id="tabs">
    <dx-tab-panel
      #tabPanel
      [selectedIndex]="0"
      [height]="800"
      [loop]="false"
      [animationEnabled]="false"
      [swipeEnabled]="true"
      [visible]="isToolbar()"
    >
      <dxi-item [title]="'Permisos'" [icon]="'group'">
        <dx-data-grid
          #gDataUsuarioOpcion
          id="gridContainer"
          [dataSource]="model.DETALLE"
          [columnAutoWidth]="false"
          [showBorders]="true"
          [showColumnLines]="true"
          [showRowLines]="true"
          [rowAlternationEnabled]="true"
          [hoverStateEnabled]="false"
          [allowColumnResizing]="true"
          [columnResizingMode]="'widget'"
          [focusedRowEnabled]="true"
          [height]="'100%'" [width]="'100%'"
          [keyExpr]="['CODIGO_SISTEMA', 'CODIGO_MENU', 'CODIGO_OPCION']"
          (onRowInserted)="$event.component.navigateToRow($event.key)"
          (onRowUpdated)="rowUpdated($event)"
          (onFocusedRowChanged)="focusedRowChangedUsuarioOpcion($event)"
          (onToolbarPreparing)="onToolbarPreparing($event)"
        >
          <dxo-editing
            mode="cell"
            [refreshMode]="'reshape'"
            [allowUpdating]="permiteEdit"
            [useIcons]="true"
            [selectTextOnEditStart]="true"
          >
          </dxo-editing>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-load-panel [enabled]="false"></dxo-load-panel>
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-paging [enabled]="false"></dxo-paging>
          <dxo-filter-panel [visible]="true"></dxo-filter-panel>
          <dxo-filter-row
            [visible]="true"
            [applyFilter]="'auto'"
          ></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxi-column
            dataField="LOGIN_SISTEMA"
            caption="Login."
            [visible]="false"
          ></dxi-column>
          <dxi-column
            dataField="SELECCION"
            caption=""
            [dataType]="'boolean'"
            width="5%"
            editCellTemplate="singleCheckBox"
          ></dxi-column>
          <dxi-column
            dataField="CODIGO_SISTEMA"
            caption="Codigo Sistema"
            [visible]="false"
          >
          </dxi-column>
          <dxi-column
            dataField="NOMBRE_SISTEMA"
            caption="Sistema"
            width="15%"
            [allowEditing]="false"
          >
          </dxi-column>
          <dxi-column
            dataField="CODIGO_MENU"
            caption="Nombre Menú"
            [visible]="false"
            [allowEditing]="false"
          ></dxi-column>
          <dxi-column
            dataField="NOMBRE_MENU"
            caption="Menú"
            width="12%"
            [allowEditing]="false"
          ></dxi-column>
          <dxi-column
            dataField="CODIGO_OPCION"
            caption="Codigo Opción"
            [visible]="false"
          ></dxi-column>
          <dxi-column
            dataField="NOMBRE_OPCION"
            caption="Opción"
            width="28%"
            [allowEditing]="false"
          ></dxi-column>
          <dxi-column
            dataField="NUEVO"
            caption="Nuevo"
            width="12%"
          ></dxi-column>
          <dxi-column
            dataField="MODIFICAR"
            caption="Modificar"
            width="12%"
          ></dxi-column>
          <dxi-column
            dataField="ELIMINAR"
            caption="Eliminar"
            width="12%"
          ></dxi-column>
          <dxi-column
            dataField="IMPRIMIR"
            caption="Imprimir"
            width="12%"
          ></dxi-column>
          <dxi-column
            dataField="MTTO"
            caption="Mtto"
            [visible]="false"
          ></dxi-column>
          <div *dxTemplate="let cellInfo of 'singleCheckBox'">
            <dx-check-box
              [(value)]="cellInfo.row.data.SELECCION"
              (onValueChanged)="valueChangedPermisos($event, cellInfo)"
              [disabled]="!permiteEdit"
              contentTemplate="contentTemplate"
            >
            </dx-check-box>
          </div>
        </dx-data-grid>
      </dxi-item>
    </dx-tab-panel>
  </div>
</div>
<dx-data-grid
  class="content-grid"
  #gData
  [visible]="isBrowse()"
  [dataSource]="models"
  keyExpr="LOGIN_SISTEMA"
  [columnAutoWidth]="false"
  [showBorders]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [rowAlternationEnabled]="true"
  [hoverStateEnabled]="false"
  [allowColumnResizing]="true"
  [columnResizingMode]="'widget'"
  [focusedRowEnabled]="true"
  [height]="450" [width]="'99%'"
  (onRowRemoving)="rowRemoving($event)"
  (onRowDblClick)="rowDblClick($event)"
  (onFocusedRowChanged)="focusedRowChanged($event)"
>
  <dxo-editing
    mode="row"
    [refreshMode]="'reshape'"
    [allowDeleting]="true"
    [useIcons]="true"
  >
  </dxo-editing>
  <dxo-selection [mode]="'single'"></dxo-selection>
  <dxo-load-panel [enabled]="false"></dxo-load-panel>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-export
    [enabled]="true"
    fileName="SegUsuario"
    [allowExportSelectedData]="true"
  ></dxo-export>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
  <dxo-paging [enabled]="false"></dxo-paging>
  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-scrolling [mode]="'virtual'"></dxo-scrolling>
  <dxi-column type="buttons" [width]="85">
    <dxi-button
      hint="Editar Registro"
      icon="edit"
      [visible]="getPermiteEditar"
      [onClick]="editarClick"
    ></dxi-button>
    <dxi-button name="delete" [visible]="getPermiteDele"></dxi-button>
  </dxi-column>
  <dxi-column
    dataField="LOGIN_SISTEMA"
    caption="Corr."
    [width]="85"
  ></dxi-column>
  <dxi-column
    dataField="NOMBRE_USUARIO"
    caption="Nombre Usuario"
    [width]="250"
  ></dxi-column>
  <dxi-column
    dataField="CLAVE_USUARIO"
    caption="Clave Usuario"
    [visible]="false"
    [width]="100"
  ></dxi-column>
  <dxi-column
    dataField="CLAVE_USUARIO_SAL"
    caption="Clave Usuario Sal"
    [visible]="false"
    [width]="100"
  ></dxi-column>
  <dxi-column
    dataField="CORREO_ELECTRONICO"
    caption="Correo Electronico"
    [width]="160"
  ></dxi-column>
  <dxi-column
    dataField="TIPO_USUARIO"
    caption="Tipo Usuario"
    [visible]="false"
    [width]="100"
  ></dxi-column>
  <dxi-column
    dataField="NOMBRE_TIPO_USUARIO"
    caption="Tipo Usuario"
    [width]="200"
  ></dxi-column>
  <dxi-column
    dataField="ESTADO_USUARIO"
    caption="Estado Usuario"
    [visible]="false"
    [width]="100"
  ></dxi-column>
  <dxi-column
    dataField="NOMBRE_ESTADO_USUARIO"
    caption="Estado Usuario"
    [width]="150"
  ></dxi-column>
  <dxi-column dataField="IDIOMA" caption="Idioma" [width]="100"></dxi-column>
  <dxi-column
    dataField="USUARIO_CREA"
    caption="Usuario Crea"
    [width]="100"
  ></dxi-column>
  <dxi-column
    dataField="FECHA_CREA"
    caption="Fecha Crea"
    [width]="160"
    [dataType]="'datetime'"
  ></dxi-column>
  <dxi-column
    dataField="ESTACION_CREA"
    caption="Estación Crea"
    [width]="100"
  ></dxi-column>
  <dxi-column
    dataField="USUARIO_ACTU"
    caption="Usuario Actu"
    [width]="100"
  ></dxi-column>
  <dxi-column
    dataField="FECHA_ACTU"
    caption="Fecha Actu"
    [width]="160"
    [dataType]="'datetime'"
  ></dxi-column>
  <dxi-column
    dataField="ESTACION_ACTU"
    caption="Estación Actu"
    [width]="100"
  ></dxi-column>
  <dxi-column
    dataField="NOMBRE_EMPRESA"
    caption="Nombre Empresa"
    [visible]="false"
    [width]="250"
  ></dxi-column>
  <dxi-column
    dataField="FOTO_PERFIL"
    caption="Foto Perfil"
    [visible]="false"
    [width]="100"
  ></dxi-column>
  <dxi-column
    dataField="FOTO_FIRMA"
    caption="Foto Firma"
    [visible]="false"
    [width]="100"
  ></dxi-column>
  <dxo-summary>
    <dxi-total-item
      column="LOGIN_SISTEMA"
      summaryType="count"
      valueFormat="#,##0"
      displayFormat="Cant: {0}"
    >
    </dxi-total-item>
  </dxo-summary>
</dx-data-grid>
<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  (onShown)="(loadingVisible)"
>
</dx-load-panel>
