html, body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.content {
  line-height: 1.5;

  h2 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.content-block {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;

  .screen-x-small & {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.content-aling {
  margin-left: 20px;
  margin-right: 20px;

  text-align: center;
  display: flex;
  align-items: center;
}

.content-aling2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  text-align: center;
  display: flex;
  align-items: center;
}

.item-padding{
  margin-right: 5px;
}

.myButton {
  width: 80px;
  height: 28px;
  text-align: center;
  margin-right: 5px;
}

.myFirtsButton {
  width: 80px;
  height: 30px;
  text-align: center;
  margin-right: 19px !important;
}

.myButton2 { // usar para botones mas anchos
  width: 160px;
  height: 30px;
  text-align: center;
  margin-right: 5px;
}


.content-grid {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;

  .screen-x-small & {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
  }
}

.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.with-footer > .dx-scrollable-wrapper >
.dx-scrollable-container > .dx-scrollable-content {
  height: 100%;

  & > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

.myToolbar {
  height: 30px;
  width: 97%;
  margin-left: 15px;
  background-color: transparent !important;
}

.myButtonDetaNoGrid {
  margin-left: 25px !important;
  margin-top: 15px  !important;
}

$side-panel-min-width: 60px;
