<h2 class="content-block">{{tituloVentana}}</h2>
<div class="content-block">
	<dx-button class="myButton" text="Nuevo" type="default" (onClick)="nuevo()" [visible]="permiteAdd && isBrowse()">
	</dx-button>
	<dx-button class="myButton" text="Guardar" type="success" (onClick)="guardar()" [visible]="!isBrowse() && isForm()">
	</dx-button>
	<dx-button class="myButton" text="Cancelar" type="danger" (onClick)="cancelar()" [visible]="!isBrowse()">
	</dx-button>
</div>
<div class="content-block dx-card responsive-paddings" *ngIf="!isBrowse()">
	<dx-form #fData id="form"
	[formData]="model"
	labelLocation="top"
	[colCount]="5">
		<dxi-item dataField="PERIODO_ANIO" [label]="{text: 'año'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Periodo Anio...', showClearButton: true, readOnly: true}">
		</dxi-item>
		<dxi-item dataField="PERIODO_MES" [label]="{text: 'Mes'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Periodo Mes...', showClearButton: true, readOnly: true }">
		</dxi-item>
		<dxi-item dataField="CORR_VENTA" [label]="{text: 'Corr.'}" [editorOptions]="{ readOnly: true }">
		</dxi-item>
		<dxi-item dataField="CORR_EMPLEADO" [label]="{text: 'Corr Empleado'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Corr Empleado...', showClearButton: true }">
		</dxi-item>
		<dxi-item dataField="CORR_FORMA_PAGO" [label]="{text: 'Corr Forma Pago'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Corr Forma Pago...', showClearButton: true }">
		</dxi-item>
		<dxi-item dataField="CORR_CLIENTE" [label]="{text: 'Corr Cliente'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Corr Cliente...', showClearButton: true }">
		</dxi-item>
		<dxi-item dataField="CORR_TIPO_FACTURA" [label]="{text: 'Corr Tipo Factura'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Corr Tipo Factura...', showClearButton: true }">
		</dxi-item>
		<dxi-item dataField="NUMERO_RECIBO" [label]="{text: 'Numero Recibo'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Numero Recibo...', showClearButton: true }">
		</dxi-item>
		<dxi-item dataField="TOTAL_VENTA" [label]="{text: 'Total Venta'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Total Venta...', showClearButton: true }">
		</dxi-item>
		<dxi-item dataField="TOTAL_DESCUENTO" [label]="{text: 'Total Descuento'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Total Descuento...', showClearButton: true }">
		</dxi-item>
		<dxi-item dataField="TOTAL_IVA" [label]="{text: 'Total Iva'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Total Iva...', showClearButton: true }">
		</dxi-item>
		<dxi-item dataField="EXENTO_IVA" [label]="{text: 'Exento Iva'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Exento Iva...', showClearButton: true }">
		</dxi-item>
	</dx-form>
</div>
<dx-data-grid class="content-grid"
	#gData
	[visible]="isBrowse()"
	[dataSource]="models"
	keyExpr="CORR_VENTA"
	[columnAutoWidth]="false"
	[showBorders]="true"
	[showColumnLines]="true"
	[showRowLines]="true"
	[rowAlternationEnabled]="true"
	[hoverStateEnabled]="false"
	[allowColumnResizing]="true"
	[columnResizingMode]="'widget'"
	[focusedRowEnabled]="true"
	[height]="'100%'" [width]="'100%'"
	(onRowRemoving)="rowRemoving($event)"
	(onRowDblClick)="rowDblClick($event)"
	(onFocusedRowChanged)="focusedRowChanged($event)"
	>
	<dxo-editing mode="row"
	[refreshMode]="'reshape'"
	[allowDeleting]="true"
	[useIcons]="true">
	</dxo-editing>
	<dxo-selection [mode]="'single'"></dxo-selection>
	<dxo-load-panel [enabled]="false"></dxo-load-panel>
	<dxo-search-panel [visible]="true"></dxo-search-panel>
	<dxo-export [enabled]="true" fileName="PosVenta" [allowExportSelectedData]="true"></dxo-export>
	<dxo-group-panel [visible]="true"></dxo-group-panel>
	<dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
	<dxo-paging [enabled]="false"></dxo-paging>
	<dxo-filter-panel [visible]="true"></dxo-filter-panel>
	<dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
	<dxo-header-filter [visible]="true"></dxo-header-filter>

	<dxi-column type="buttons" [width]="85">
		<dxi-button hint="Editar Registro" icon="edit" [visible]="getPermiteEditar" [onClick]="editarClick"></dxi-button>
		<dxi-button name="delete" [visible]="getPermiteDele"></dxi-button>
	</dxi-column>
	<dxi-column dataField="PERIODO_ANIO" caption="Periodo Anio" [width]="100"></dxi-column>
	<dxi-column dataField="PERIODO_MES" caption="Periodo Mes" [width]="100"></dxi-column>
	<dxi-column dataField="CORR_VENTA" caption="Corr." [width]="85"></dxi-column>
	<dxi-column dataField="CORR_EMPLEADO" caption="Corr Empleado" [width]="85"  [visible]="false"></dxi-column>
	<dxi-column dataField="CORR_FORMA_PAGO" caption="Corr Forma Pago" [width]="85"  [visible]="false"></dxi-column>
	<dxi-column dataField="CORR_CLIENTE" caption="Corr Cliente" [width]="85"  [visible]="false"></dxi-column>
	<dxi-column dataField="CORR_TIPO_FACTURA" caption="Corr Tipo Factura" [width]="85"  [visible]="false"></dxi-column>
	<dxi-column dataField="NUMERO_RECIBO" caption="Numero Recibo" [width]="100"></dxi-column>
	<dxi-column dataField="TOTAL_VENTA" caption="Total Venta" [width]="150" [format]="'#,##0.00'"></dxi-column>
	<dxi-column dataField="TOTAL_DESCUENTO" caption="Total Descuento" [width]="150" [format]="'#,##0.00'"></dxi-column>
	<dxi-column dataField="TOTAL_IVA" caption="Total Iva" [width]="150" [format]="'#,##0.00'"></dxi-column>
	<dxi-column dataField="EXENTO_IVA" caption="Exento Iva" [width]="100"></dxi-column>
	<dxo-summary>
		<dxi-total-item column="CORR_VENTA" summaryType="count" valueFormat="#,##0" displayFormat="Cant: {0}">
		</dxi-total-item>
	</dxo-summary>
</dx-data-grid>
<dx-load-panel
	#loadPanel
	shadingColor="rgba(0,0,0,0.4)"
	[position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
	[(visible)]="loadingVisible"
	[showIndicator]="true"
	[showPane]="true"
	[shading]="true"
	(onShown)="loadingVisible">
</dx-load-panel>
