<h2 class="content-block">{{tituloVentana}}</h2>
<dx-toolbar class="myToolbar">
  <dxi-item location="before">
    <dx-button class="myButton" text="Nuevo" type="default" (onClick)="nuevo()" [visible]="permiteAdd && isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="before">
    <dx-button class="myButton" text="Solicitar" type="success" (onClick)="Solicitar()" [visible]="permiteAdd && isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="before" >
    <dx-button class="myButton" text="Guardar" type="success" (onClick)="guardar()" [visible]="!isBrowse() && isForm()">
    </dx-button>
  </dxi-item>
  <dxi-item location="before" >
    <dx-button class="myButton" text="Cancelar" type="danger" (onClick)="cancelar()" [visible]="!isBrowse()">
    </dx-button>
  </dxi-item>
  <dxi-item location="after" >
    <dx-button icon="refresh"
    [visible]="isBrowse()"
    (onClick)="consultar()">
    </dx-button>
  </dxi-item>
  <dxi-item location="after"  [locateInMenu]="'auto'">
    <dx-date-box [(value)]="param.FECHA_INICIAL"
    [visible]="isBrowse()"
    [useMaskBehavior]= "true"
    type="date"
    displayFormat="dd/MM/yyyy"
    width="100"
    ></dx-date-box>
  </dxi-item>
  <dxi-item location="after"  [locateInMenu]="'auto'">
    <dx-date-box [(value)]="param.FECHA_FINAL"
    [visible]="isBrowse()"
    [useMaskBehavior]= "true"
    type="date"
    displayFormat="dd/MM/yyyy"
    width="100"
    ></dx-date-box>
  </dxi-item>
</dx-toolbar>
<div class="content-block dx-card responsive-paddings" *ngIf="!isBrowse()">
	<dx-form #fData id="form"
	[formData]="model"
	labelLocation="top"
	[colCount]="5">
    <dxi-item [dataField]="'CORR_CONSTANCIA'" [label]="{text: 'Corr.'}" [editorOptions]="{ readOnly: true }">
    </dxi-item>
    <dxi-item [dataField]="'ESTADO_CONSTANCIA'" [label]="{text: 'Estado'}" [colSpan]="1" [editorOptions]="{ placeholder: ' Estado...', showClearButton: true }" [template]="'cbEstadoConstancia'">
      <dxi-validation-rule type="required"  message="Estado es Obligatorio"> </dxi-validation-rule>
		</dxi-item>
    <div *dxTemplate="let cellInfo of 'cbEstadoConstancia'">
      <dx-drop-down-box
        #estadoSolicitud
        [(value)]="model.ESTADO_CONSTANCIA"
        [valueExpr]="'CODIGO'"
        [displayExpr]="'DESCRIPCION'"
        [deferRendering]="false"
        [placeholder]="'Estado...'"
        [dataSource]="mEstado"
        [showClearButton]="true"
        [readOnly]="true"
        (valueChange)="valueChangedESTADO_CONSTANCIA($event)">
        <div *dxTemplate="let dEstadoExpediente of 'content'">
          <dx-data-grid
            #dataEstadoSolicitud
            [dataSource]="mEstado"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedESTADO_CONSTANCIA($event.selectedRowKeys)"
            (onRowClick)="rowClickESTADO_CONSTANCIA($event, dEstadoExpediente)"
            [height]="'100%'"
            [width]="'100%'">
              <dxi-column dataField="CODIGO" caption="Código." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="DESCRIPCION" caption="Estado" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
    <dxi-item [dataField]="'CORR_EMPLEADO'" [label]="{text: 'Colaborador'}" [colSpan]="2" [editorOptions]="{ placeholder: 'Empleado...', showClearButton: true, readOnly: true }" [template]="'cbEmpleado'">
      <dxi-validation-rule type="required"  message="El Colaborador es Obligatorio"> </dxi-validation-rule>
		</dxi-item>
    <div *dxTemplate="let cellInfo of 'cbEmpleado'">
      <dx-drop-down-box
        #corrEmpleado
        [(value)]="model.CORR_EMPLEADO"
        [valueExpr]="'CORR_EMPLEADO'"
        [displayExpr]="'NOMBRE_EMPLEADO'"
        [deferRendering]="false"
        [placeholder]="'Estado...'"
        [dataSource]="mEmpleado"
        [showClearButton]="true"
        [readOnly]="true"
        (valueChange)="valueChangedCORR_EMPLEADO($event)">
        <div *dxTemplate="let dEmpleado of 'content'">
          <dx-data-grid
            #dataEstadoSolicitud
            [dataSource]="mEmpleado"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedCORR_EMPLEADO($event.selectedRowKeys)"
            (onRowClick)="rowClickCORR_EMPLEADO($event, dEmpleado)"
            [height]="'100%'"
            [width]="'100%'">
              <dxi-column dataField="CORR_EMPLEADO" caption="Corr." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="NOMBRE_EMPLEADO" caption="Empleado" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
    <dxi-item [dataField]="'FECHA_SOLICITUD'" [label]="{text: 'Fecha'}" [editorType]="'dxDateBox'" [colSpan]="1" [editorOptions]="{ placeholder: ' Fecha...', readOnly: true, displayFormat:'dd/MM/yyyy' }">
      <dxi-validation-rule type="required"  message="Fecha es Obligatorio"> </dxi-validation-rule>
		</dxi-item>
    <dxi-item [dataField]="'CORR_TIPO_CONSTANCIA'" [label]="{text: 'Tipo de Constancia'}" [colSpan]="1" [editorOptions]="{ placeholder: 'Tipo de Constancia...' }" [template]="'cbTipoConstancia'">
      <dxi-validation-rule type="required"  message="Tipo de Constancia es Obligatorio"> </dxi-validation-rule>
		</dxi-item>
    <div *dxTemplate="let cellInfo of 'cbTipoConstancia'">
      <dx-drop-down-box
        #corrTipoConstancia
        [(value)]="model.CORR_TIPO_CONSTANCIA"
        [valueExpr]="'CORR_TIPO_CONSTANCIA'"
        [displayExpr]="'NOMBRE_TIPO_CONSTANCIA'"
        [deferRendering]="false"
        [placeholder]="'Tipo de Constancia...'"
        [dataSource]="mTipoConstancia"
        [readOnly]="bloqLookup"
        (valueChange)="valueChangedCORR_TIPO_CONSTANCIA($event)">
        <div *dxTemplate="let dTipoConstancia of 'content'">
          <dx-data-grid
            #dataEstadoSolicitud
            [dataSource]="mTipoConstancia"
            [columnAutoWidth]="true"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [filterRow]="{ visible: true }"
            [scrolling]="{ mode: 'infinite' }"
            [filterSyncEnabled]="true"
            (onSelectionChanged)="selectionChangedCORR_TIPO_CONSTANCIA($event.selectedRowKeys)"
            (onRowClick)="rowClickCORR_TIPO_CONSTANCIA($event, dTipoConstancia)"
            [height]="'100%'"
            [width]="'100%'">
              <dxi-column dataField="CORR_TIPO_CONSTANCIA" caption="Corr." [width]="'0%'" [visible]="false"></dxi-column>
              <dxi-column dataField="NOMBRE_TIPO_CONSTANCIA" caption="Tipo de Constancia" [width]="'100%'"></dxi-column>
              <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </dx-drop-down-box>
    </div>
		<dxi-item [dataField]="'OBSERVACIONES'" [label]="{text: 'Observaciones'}" [editorType]="'dxTextArea'" [colSpan]="2" [editorOptions]="{ placeholder: ' Observaciones...', showClearButton: true }">
		</dxi-item>
	</dx-form>
</div>
<dx-data-grid class="content-grid"
	#gData
	[visible]="isBrowse()"
	[dataSource]="models"
	keyExpr="CORR_CONSTANCIA"
	[columnAutoWidth]="false"
	[showBorders]="true"
	[showColumnLines]="true"
	[showRowLines]="true"
	[rowAlternationEnabled]="true"
	[hoverStateEnabled]="false"
	[allowColumnResizing]="true"
	[columnResizingMode]="'widget'"
	[focusedRowEnabled]="true"
	[height]="450" [width]="'99%'"
	(onRowRemoving)="rowRemoving($event)"
	(onRowDblClick)="rowDblClick($event)"
	(onFocusedRowChanged)="focusedRowChanged($event)"
>
	<dxo-editing mode="row"
	[refreshMode]="'reshape'"
	[allowDeleting]="true"
	[useIcons]="true">
	</dxo-editing>
	<dxo-selection [mode]="'single'"></dxo-selection>
	<dxo-load-panel [enabled]="false"></dxo-load-panel>
	<dxo-search-panel [visible]="true"></dxo-search-panel>
	<dxo-export [enabled]="true" fileName="PlaSoliConstancia" [allowExportSelectedData]="true"></dxo-export>
	<dxo-group-panel [visible]="true"></dxo-group-panel>
	<dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
	<dxo-paging [enabled]="false"></dxo-paging>
	<dxo-filter-panel [visible]="true"></dxo-filter-panel>
	<dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
	<dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-scrolling [mode]="'virtual'"></dxo-scrolling>
	<dxi-column type="buttons" [width]="85">
		<dxi-button hint="Editar Registro" icon="edit" [visible]="getPermiteEditar" [onClick]="editarClick"></dxi-button>
		<dxi-button name="delete" [visible]="getPermiteDele"></dxi-button>
	</dxi-column>
  <dxi-column [dataField]="'CORR_CONSTANCIA'" caption="Corr." [width]="85"></dxi-column>
  <dxi-column [dataField]="'NOMBRE_ESTADO_CONSTANCIA'" caption="Estado" [width]="100"></dxi-column>
  <dxi-column [dataField]="'FECHA_SOLICITUD'" caption="Fecha" [width]="100" [dataType]="'date'" [format]="'dd/MM/yyyy'"></dxi-column>
  <dxi-column [dataField]="'NOMBRE_TIPO_CONSTANCIA'" caption="Tipo de Constancia" [width]="150"></dxi-column>
	<dxi-column [dataField]="'CORR_EMPLEADO'" caption="Corr Empleado" [width]="85"  [visible]="false"></dxi-column>
	<dxi-column [dataField]="'NOMBRE_EMPLEADO'" caption="Empleado" [width]="250"></dxi-column>
	<dxi-column [dataField]="'CORR_TIPO_CONSTANCIA'" caption="Corr Tipo Constancia" [width]="85"  [visible]="false"></dxi-column>
	<dxi-column [dataField]="'USUARIO_SOLICITA'" caption="Usuario Solicita" [width]="100" [visible]="false"></dxi-column>
	<dxi-column [dataField]="'USUARIO_AUTORIZA'" caption="Usuario Autoriza" [width]="100" [visible]="false"></dxi-column>
	<dxi-column [dataField]="'ESTADO_CONSTANCIA'" caption="Estado Constancia" [width]="100" [visible]="false"></dxi-column>
	<dxi-column [dataField]="'OBSERVACIONES'" caption="Observaciones" [width]="400"></dxi-column>
	<dxi-column [dataField]="'USUARIO_CREA'" caption="Usuario Crea" [width]="100"></dxi-column>
	<dxi-column [dataField]="'FECHA_CREA'" caption="Fecha Crea" [width]="160" [dataType]="'datetime'"></dxi-column>
	<dxi-column [dataField]="'ESTACION_CREA'" caption="Estación Crea" [width]="100"></dxi-column>
	<dxi-column [dataField]="'USUARIO_ACTU'" caption="Usuario Actu" [width]="100"></dxi-column>
	<dxi-column [dataField]="'FECHA_ACTU'" caption="Fecha Actu" [width]="160" [dataType]="'datetime'"></dxi-column>
	<dxi-column [dataField]="'ESTACION_ACTU'" caption="Estación Actu" [width]="100"></dxi-column>
	<dxo-summary>
		<dxi-total-item column="CORR_CONSTANCIA" summaryType="count" valueFormat="#,##0" displayFormat="Cant: {0}">
		</dxi-total-item>
	</dxo-summary>
</dx-data-grid>
<dx-load-panel
	#loadPanel
	shadingColor="rgba(0,0,0,0.4)"
	[position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
	[(visible)]="loadingVisible"
	[showIndicator]="true"
	[showPane]="true"
	[shading]="true"
	(onShown)="loadingVisible">
</dx-load-panel>
